[2015-10-28 00:28] justbuchanan opened #483 "Send a packet with the new radio setup"
@jjones646 has it very close, but there are a few things that may be misconfigured, preventing a successful tx/rx.

The [CC debugger](http://www.ti.com/tool/cc-debugger) program should help with this.

[2015-10-28 00:36] jjones646 commented on #483
For reference, [figure 9 in this pdf](http://www.ti.com/lit/ug/swru197h/swru197h.pdf) shows the pinout for the connection I used on those breakout cables.

[2015-10-28 05:35] justbuchanan opened #484 "Class names on main page of docs site should be links to relevant class docs"

[2015-10-28 05:53] justbuchanan commented on #433
@ashaw596, do you want to look into this?

[2015-10-29 07:55] #478 closed

[2015-10-29 18:26] justbuchanan opened #486 "When playing as the blue team, our robots have yellow comet trails"

[2015-11-01 18:09] #482 closed

[2015-11-01 18:27] #403 closed

[2015-11-01 18:27] #466 closed

[2015-11-01 18:27] #467 closed

[2015-11-01 18:27] #479 closed

[2015-11-03 19:08] justbuchanan commented on #483
@jjones646, I noticed in the `CC1201` class, some register values are converted using the `twos_complement()` function before being written over SPI - how does this work?  If we're dealing with positive numbers, aren't they already valid in 2's complement?

[2015-11-04 00:50] jjones646 commented on #483
It's just a quick way to force the compiler to flip the sign for an unsigned, fixed width type. The same type is returned that gets passed to the function. So the compiler knows how to arrange the bits, and all of the compiler warnings go away for any weird type casting that would be done otherwise.

[2015-11-04 01:17] mosdragon commented on #399
Hey @jjones646, I'm looking to pick this up. I was going to create a function that simply gets the int value of based on the pins that are on:
[code]

Is this all what we're looking for?

[2015-11-04 01:22] mosdragon commented on #399
Actual OOP class, constructor takes in location of pins, and ```int read()``` would give us the hex value between 0x0 and 0xF from those pins?

Justin mentioned interfacing with the I/O expander to get the values of these bits? Any suggestions for which other files to look at to move forward with this?

[2015-11-04 02:44] justbuchanan opened #487 "Can't build robot firmware due to gt mirrors being down"
I just tried this again on the latest master (90fb3a0f) and it's failing.  @jgkamat, what did you figure out for this?

[2015-11-04 02:47] justbuchanan commented on #483
So is the idea here that we're trying to pass a negative value to the cc1201 and we're circumventing the fact that the type of the variable is `uint8_t` in our code?

[2015-11-04 04:34] justbuchanan opened #488 "Use git submodules for firmware external projects"
Right now developer.mbed.org is down and I can't build any firmware :(.  Using submodules would prevent this from being an issue next time.

[2015-11-04 05:23] justbuchanan commented on #477
@jjones646, can you try out the `robot2015-prog.sh` script on `master` and see if it works for you?  It works great for me and supports multiple mbeds.  It copies the file if it's different, then reboots all mbeds.  I can't get your mbed-prgm.sh script to work unless I manually mount the mbed and even then it only works for one at a time.

[2015-11-04 05:31] justbuchanan opened #490 "Handle robot angles together with paths in a smart way"
We've discussed having an "angle function" before that would be a property on the Path class.

cc @ashaw596

[2015-11-04 05:38] #487 closed

[2015-11-04 05:45] justbuchanan opened #491 "stream-based logging for firmware"
The more or less "standard" way of doing logging in C++ is with streams.  We implemented something this a while ago, but I think some of it got lost due to merge conflicts.  It'd be nice to be able to something like this in firmware:
[code]

The real power here is that you can implement `operator<<(ostream)` on different classes and very easily print them to the log.

[2015-11-04 05:48] jgkamat commented on #481
I don't think this is an issue any more. We'll reopen if we see it again.

[2015-11-04 21:23] justbuchanan commented on #397
@jjones646, @ryanstrat, when will these boards be ready to be programmed?

[2015-11-04 21:23] justbuchanan commented on #394
@ryanstrat, what's the status on this?

[2015-11-04 21:24] justbuchanan commented on #186
@jjones646, @ryanstrat what's the status on ball sense boards?

[2015-11-04 21:25] justbuchanan commented on #118
@jjones646, what's the status on interfacing with this via firmware?

[2015-11-04 22:46] jjones646 commented on #477
Yeah, the one on `master` is the one that should be used by default. The python based one on `robot2015-firmware` should really only be used for the really low level debugging stuff. I'm pretty sure all the times when the script on `master` failed for me, I had a screen sessions open for each mbed - something that doesn't really need to be considered by the script.
In the `robot2015-firmware` bran

[2015-11-04 22:50] jjones646 commented on #118
It's works when running on a control board and all the I2C stuff is integrated into the RTOS stuff - so it's all non-blocking. I think hard fault that comes up with an mbed that's no connected to anything results from some self-test code that I added a while back. I know it's worked fine on one of the earlier commits.

[2015-11-04 22:54] jjones646 commented on #394
@justbuchanan I was able to get this integrated into the cmake files. It was all syntax changes basically. However, running it in hardware causes it to get stuck in the nop loop I believe. Either resulting from the assembly lines changes for the push/pop instructions that gcc required, or something to do with not setting the RTOS up right before entering the assembly code when it runs.

[2015-11-04 23:01] jjones646 commented on #399
@mosdragon all of the files [here](https://github.com/RoboJackets/robocup-software/tree/robot2015-firmware/firmware/robot2015/src-ctrl/drivers/mcp23017) is pretty much everything. Yes, the defines you commented on earlier are correct. All of the defines in that block need some kind of function/method to interface with whatever it corresponds with. This area on the control board actually has an err

[2015-11-04 23:03] jjones646 opened #493 "Create basic sounds for the robot's speaker"
- [ ] script to convert audio files to the appropriate file format
- [ ] add instructions to docs/readme for how to add new songs
- [ ] add GT fight song
- [ ] song commands

[2015-11-04 23:06] jjones646 commented on #186
@justbuchanan These are ~1 month away I believe. The pcb design is finished - just a matter of getting the order in and then waiting at that point.

[2015-11-04 23:54] #477 closed

[2015-11-05 01:32] jgkamat commented on #493
@joshhting

[2015-11-05 02:55] ryanstrat commented on #397
We finished soldering the first one yesterday. We should be able to give
this a try on Sunday

Ryan Strat
ryan@str.at
(678) 517-3393
RoboJackets | RoboCup Project Manager
Georgia Institute of Technology

On Wed, Nov 4, 2015 at 4:23 PM, Justin Buchanan <notifications@github.com>
wrote:

[2015-11-05 03:09] ryanstrat commented on #186
​We ran into some issues panelizing the board that I think we've worked
through. They'll be ordered within the week with a 2.5 week turnaround.

Ryan Strat
ryan@str.at
(678) 517-3393
RoboJackets | RoboCup Project Manager
Georgia Institute of Technology

On Wed, Nov 4, 2015 at 6:06 PM, Jonathan Jones <notifications@github.com>
wrote:

[2015-11-05 21:31] justbuchanan opened #494 "Pressing up arrow (and other characters) breaks robot terminal"
When `screen`ed into a robot terminal, some characters cause it to no longer accept input, requiring a reboot.

[2015-11-09 19:53] justbuchanan commented on #483
@jjones646, I exported a new radio config from SmartRF Studio and set it up in the firmware.  The logs show that the `CC1201.freq()` method is returning 910MHz, while my config has it set to 916.  Any ideas why this would happen?

[2015-11-09 19:54] justbuchanan commented on #483
I don't fully understand what's going on with the `SAFC` strobe and the `FREQOFF1` register.

[2015-11-09 20:15] justbuchanan opened #495 "Fix CI builds on robot2015-firmware branch"
They've been failing for a while, but it'd be good to get them back up.  Not sure yet what the issue is, but here's an example failing build log from circleci: https://circle-artifacts.com/gh/RoboJackets/robocup-software/818/artifacts/0/tmp/circle-artifacts.ALIqf6b/firmware.txt.  I see a lot of error messages related to the "buzzer" external project.

[2015-11-10 00:07] #484 closed

[2015-11-10 00:07] justbuchanan commented on #484
cc @ashaw596

[2015-11-10 00:43] justbuchanan opened #496 "Fix circular dependency in build files"
Several things on the `robot2015-firmware` branch are failing due to a circular dependency with the rpc library on MBED.  Probably something to do with how it's setup in CMake.  Here's the relevant part of the log:

[code]

[2015-11-11 00:37] ashaw596 opened #498 "Soccer UI vibrates because of different font width of timer numbers"
Occurs on my laptop which is OSX el capitan

[2015-11-11 00:47] jgkamat commented on #498
Font is different on my system, and I don't see this issue, so it's a font problem.

[2015-11-11 01:12] jgkamat commented on #481
This issue is present again on #499

[2015-11-11 03:37] #413 closed

[2015-11-11 03:46] justbuchanan commented on #498
Yeah sounds like a font issue.  I don't see this problem on my Mac, but I'm still on Yosemite.

[2015-11-12 00:56] justbuchanan commented on #481
@jgkamat, do you think we can fix this by adding `git fetch origin master:master` to the `SETUP_COMMAND` in `config.docif`?  The git fetch command will pull the latest master branch without checking it out.

[2015-11-12 01:08] justbuchanan opened #503 "Add a short contributing cheatsheet to complement our existing contributing guide page"
Here's what I have from yesterday's meeting that will go on it:

[code]

[2015-11-12 01:17] jedyang97 commented on #257
Hi @audreyvnelson , I am Jed. Sorry for accidentally unassigned you from this issue. I don't know there can only be one assignee per issue. I am working on this problem in branch jed/hoverdisplay and  #501 now. Please let me know if you still want to work on it. I'm assigning you back. Again, sorry for that. :-p

[2015-11-12 01:52] jgkamat commented on #481
Oh I didn't know we could just do that one command, I'll go ahead and add that.

[2015-11-12 01:55] justbuchanan commented on #491
As discussed yesterday, the version of the firmware logger on the `master` branch has this feature, but it looks like it got lost on the `robot2015-firmware` branch.  We should just be able to copy the version on `master` to `robot2015-firmware` and verify that it works.

This will need to be tested on the MBED since we can't run our firmware code on the computer itself.  @hmistry1, we can get you

[2015-11-12 02:00] justbuchanan commented on #399
One idea that would be useful for this would be to template the rotary selector class on the type of pin interface it uses.  This will let us use the same code to interface with a selector connected directly to the MBED pins (using MBED's `DigitalIn` class) as well as one connected through an IO Expander (using our `IOExpanderDigitalInOut` class).  I can show how the template stuff will work if yo

[2015-11-12 02:06] justbuchanan commented on #297
As discussed yesterday, this will require:
* Adding a screenshot of the graph feature to doc/images
* Adding some info and a reference to the screenshot to the soccer documentation at `doc/Soccer.md`

[2015-11-12 02:08] jgkamat commented on #503
maybe we could have a flowchart?

![robocup](https://cloud.githubusercontent.com/assets/4349709/11108809/5baef726-88b8-11e5-91d8-78b7cac43a82.png)

[2015-11-12 02:15] justbuchanan commented on #343
Damping can be toggled on/off in soccer via a checkbox in the "Manual" menu item in the top bar.

Changing our current hard-coding to configurable values that can be adjusted in the "Config" tab in soccer requires a few things:
* Add `static ConfigDouble` items for each damping value we want to control.  These will be class variables in the `Joystick` class.
* Declare a static `createConfiguration

[2015-11-12 02:19] justbuchanan commented on #503
I like it!  Want to take this over and add it somewhere on our docs site?  Just curious, what software did you use to make this?

A couple suggestions:
* it might be good to add a block before "Start Working!" that mentions brainstorming a solution and asking for feedback before doing too much coding
* Also might help to style the shell commands differently from the rest of the text just to make i

[2015-11-12 02:51] justbuchanan commented on #481
Looks like your fix is failing because of SSH issues.  I SSHd into circle and it looks like they're cloning from github with the `git@` ssh url, which requires an SSH key.  They have one at `~/.ssh/id_circleci_github`, but that isn't visible in docker.  Looks like the easiest fix would be to forward the whole `.ssh` folder into Docker if that's possible.

[2015-11-12 06:55] jgkamat commented on #481
Oh, nice, thanks for debugging that! I'll just forward that inside

[2015-11-12 06:56] jgkamat commented on #503
Oh, this was actually just Violet UML creator :stuck_out_tongue:

I'll make this way better, this is a pretty rough first draft...

[2015-11-12 07:12] #257 closed

[2015-11-12 07:25] jgkamat commented on #481
circleci has direct links in their ~/.ssh/config, I added a sed to swap those out for relative links

[2015-11-12 07:34] justbuchanan commented on #503
Cool, sounds good!

[2015-11-12 07:37] justbuchanan commented on #481
Sure thing, that should work.  Can't remember quite how circle has it setup, but you might be able to just copy their key and avoid any potential future breakages if they change their ssh config.

Another thing we should check on once that's fixed is the version of `clang-format` in our image.  We'll probably have to keep it as is since it'll match what the Ubuntu users have, it's just a little un

[2015-11-12 17:19] #481 closed

[2015-11-14 19:20] Offboss commented on #343
From what I can see there is no Joystick.cpp class. There is a Joystick.hpp, but no associated .cpp. However, there are two sets of other files that might fit the bill (GamepadJoystick and SpaceNavJoystick). Should I put the config stuff in both, or just Joystick.hpp, or other?

[2015-11-14 19:52] justbuchanan commented on #343
Forgot there wasn't already a Joystick.cpp, but we can go ahead and make one.  For this we want the damping values (max speed, max accel, etc) to be the same regardless of the joystick type (3d mouse or gamepad), so I think the Joystick class would be a good place to put them since it's the superclass of the two.

When you add Joystick.cpp, you'll need to add an entry to the `ROBOCUP_LIB_SRC` vari

[2015-11-14 21:19] Offboss commented on #343
Everything seems to be working, I will have to test if it actually works on Tuesday but all the adjustable values are present in the config in soccer so I am hopeful. I'll just comment and clean now.

[2015-11-14 21:51] justbuchanan commented on #496
Looks like rpc is currently handled separately from the rest of the mbed libraries because they don't include an option in their build script for it.  I opened [an issue](https://github.com/mbedmicro/mbed/issues/1426) with mbed to have it added so we can build rpc the same way we do the rest of the libs.

[2015-11-14 22:02] justbuchanan commented on #488
Most of these come from mercurial repos on MBED's site, so it's probably not worth the trouble of creating git repos to mirror them.

[2015-11-14 22:02] #488 closed

[2015-11-18 01:14] jgkamat opened #506 "Create a make debug task in the makefile"
Not sure how easy this would be, but we need a make debug to compile with debug flags (and maybe run gdb)

[2015-11-18 01:28] justbuchanan commented on #491
Are you having trouble getting the branch onto GitHub or making a pull request once the branch is there?

And sure, we can get you an MBED to test on next time.

[2015-11-18 02:21] justbuchanan opened #507 "Soccer crashes when changing vision port"
Backtrace:

[code]

[2015-11-18 02:29] #507 closed

[2015-11-18 23:33] #496 closed

[2015-11-19 02:54] justbuchanan commented on #483
It works!!!  I sent a packet from an MBED using `radio test-tx` to another 1201 in the cc debugger.  The CRC passed and the RSSI was -66.

[2015-11-19 03:13] justbuchanan commented on #483
For future reference, here are the [golden configs](https://github.com/RoboJackets/robocup-software/tree/justin/radio-test-nov18/firmware/common2015/drivers/cc1201/cfg/cc1101-compatible) (commit cb7adfe567cbbdece6a8c4208f54ae82aba4c478).

[2015-11-19 03:33] justbuchanan opened #508 "Add legit radio test-rx"
Right now it's a loopback test where a packet is placed in the rx buffer, then read back again.  This is a good test that the radio interface works, but doesn't actually test rx.

cc @jjones646

[2015-11-19 19:15] justbuchanan commented on #483
I've been messing around with this some more and I've noticed a few things:
* bumping the data rate from 250 -> 300 ksps with the previous config worked fine
* changing from 2gfsk to 4gfsk and dropping back down to 200ksps made the CRC check fail about 3/4 of the time
* I then enabled data whitening and the CRC fails on 1/3 packets now

[2015-11-19 22:01] justbuchanan commented on #483
I've got RX working now too - I can send packets from the cc debugger to a radio connected to the mbed.  This is the commit that has this working: 1b0db665be40bc97b7292bab9b23ef35e02d20f2.  The things I changed to get it working were:
* The test board had the radio interrupt line connected to the wrong MBED pin
* The CommTaskThread main method was waiting on a signal that is never sent by anyone
*

[2015-11-21 23:05] jjones646 commented on #483
@justbuchanan Sweet! Sounds live you've made quite a bit of progress.

The `CC1201.freq()` issue might have something to do with `freq_offset` being a `uint16_t` that gets bit shifted down by 18 bits...The math within the function itself looks like it lines up fine with what's in the CC1201's user guide, but I guess you'd have to multiply `freq_offset` by 40E6 before dividing by 2^18 in order for

[2015-11-22 21:33] justbuchanan commented on #334
Here are the protobuf files for ssl vision: https://github.com/RoboCup-SSL/ssl-vision/tree/master/src/shared/proto

And here's the part of our code where we read the vision packets: https://github.com/RoboJackets/robocup-software/blob/master/soccer/Processor.cpp#L298

Also take a look at #335

[2015-11-23 02:09] #342 closed

[2015-11-25 00:24] jjones646 commented on #494
this is fixed in [712f3e3](https://github.com/RoboJackets/robocup-software/commit/712f3e3125b24b8829a8d99bd575b93bc44edb30#diff-beca703c744710d43042aa0750f666ad).

[2015-11-25 00:24] #494 closed

[2015-11-25 00:27] justbuchanan commented on #494
:+1:

[2015-11-25 00:29] #495 closed

[2015-11-25 00:56] justbuchanan commented on #483
I'm closing this issue now that packet RX and TX is working (somewhat).  I'll continue working on improving the config and try to fix the RX<-->TX state transition issues we're having.

[2015-11-25 00:56] #483 closed

[2015-11-25 01:22] jjones646 commented on #321
I've checked out [Cap'n Proto](https://capnproto.org/index.html) a little bit, and it looks pretty legit. The bit ["packing"](https://capnproto.org/encoding.html#packing) feature being the main point that could be taken advantage of. It's highly focused on encoding long streams of zeros.

For our purposes, every long stream of zeros in a packet would be reduced to 2 bytes. There is some overhead f

[2015-11-25 01:40] justbuchanan commented on #321
I've done a little messing around with capnproto and its encoding format [here](https://github.com/RoboJackets/robocup-software/tree/justin/radio-protocol-brainstorm-2/firmware/common2015/modules/CommProtocol).  If you check out that branch and cd into that folder, then run `make encode`, it will encode the message in `example.txt` with and without packing and tell you how many bytes each requires

[2015-11-26 03:19] jgkamat commented on #503
This is what I have now, I converted it to LibreOffice Draw to try to get more formatting, Still a WIP though

![robocup-gettingstarted](https://cloud.githubusercontent.com/assets/4349709/11414363/8936f22e-93c2-11e5-9324-5c9055b1a4e4.jpg)

[2015-11-26 17:18] justbuchanan commented on #503
Nice, looks pretty good to me!

[2015-12-11 22:26] justbuchanan opened #511 "Running `make robot2015-prog` while screened into a robot corrupts output"
Not sure what the cause is, although it might be because we switched to a higher baud rate (57600) for the serial port.  @jjones646 any ideas?

This is an issue on the current robot2015-firmware code

[2015-12-15 01:38] ashaw596 commented on #490
Ok. Back to work.

[2015-12-15 02:51] ashaw596 opened #513 "Soccer stalls randomly"
For me, it stalls randomly while soccer is running.
I'm running on Capitan in sim mode.

[2015-12-15 02:51] ashaw596 commented on #513
@justbuchanan Is this happening to you guys or is it just me?

[2015-12-15 02:57] ashaw596 commented on #513
Seems to just be role assignment issues. Something to do with INFO:root:SingleRobotCompositeBehavior: robot changed, restarting behavior

[2015-12-15 02:58] ashaw596 opened #514 "QColor::setRgb: RGB parameters out of range Error in soccer"
"QColor::setRgb: RGB parameters out of range" error occurs when running Basic play in soccer.
Might have to do with mouse being on the field too.

[2015-12-15 04:31] justbuchanan commented on #513
Hmm, haven't had an issue on my Mac.  I'm not on Capitan yet though, but I'll be upgrading soon.  I'll let you know if I have any issues.

[2015-12-15 15:57] jgkamat commented on #513
I'm not seeing this either.

[2015-12-19 04:04] jjones646 commented on #511
This has bugged me for a long time...I know exactly what you're talking about, and it's happened to me in many different forms with different configs/baudrates. The mbed's USB serial connection is controlled through the mbed interface chip on the back. So a serial character goes pc -> mbed interface -> lpc1768, and vice-versa.

The mbed interface chip is also how the lpc1768 is loaded with a new b

[2015-12-19 04:10] jjones646 commented on #394
[Done!](https://goo.gl/photos/G322VVNuvg4GiuqK9)

[2015-12-19 04:10] #394 closed

[2015-12-19 16:06] jjones646 commented on #508
@justbuchanan I added a `loopback` test to the `radio` command a while back. Increase the log level a bit and you can see it doing the full ack sequence. So `test-rx` can be changed to an actual air packet now without losing this.

`radio loopback <message>`

[2015-12-20 02:18] jjones646 commented on #511
@justbuchanan I played around with some things today on this. The changes are in the `robot2015-firmware` branch. The main one being the udev rules file in `./util`. Basically added automounting for an mbed's usb flash memory. It's kinda shooting in the dark, but seems to work for me - the text hasn't gotten corrupted since the change. The reasoning behind all of it was to remove any mounts/unmoun

[2016-01-13 01:35] JNeiger commented on #186
Is there a schematic for the connection between the Detector/Emitter and the mbed?

Right now I have the emitter connected to p20 and ground. The detector is connected to p19 and the same ground.

With this setup, whenever the emitter has power going through it, the detector values are shifted a significant amount (~500 units), almost as if there is some sort of cross talk between them.

[2016-01-13 01:53] justbuchanan commented on #184
@jjones646, can you confirm that the kicker board is using the ATtiny 84A?

[2016-01-13 16:29] justbuchanan commented on #186
@jjones646, any ideas what might be causing the shift in values he's seeing here?  I looked at the breadboard setup for this yesterday and it all looked right to me.

@JNeiger, can you post a link to the branch that your code is on so I can check it out?

[2016-01-13 17:50] #297 closed

[2016-01-13 17:50] #144 closed

[2016-01-13 17:53] ashaw596 commented on #448
What issues in particular?

[2016-01-13 18:06] #513 closed

[2016-01-13 18:07] justbuchanan commented on #448
I think we can close this, we just saw some funky behavior due to the fact that angle and position trajectories aren't linked well.  This will be fixed once the pivot planner stuff is figured out.

[2016-01-13 18:07] #448 closed

[2016-01-13 18:11] ashaw596 commented on #378
Hows this been going? You had almost finished it last semester right.

[2016-01-13 18:23] #275 closed

[2016-01-13 19:20] JNeiger commented on #186
@justbuchanan https://github.com/JNeiger/robocup-software/tree/ball_sensor

[2016-01-13 20:13] chachmu commented on #378
I didn't have a chance to work on it over the break but if nothing else unexpected happens I should be pretty much done.

[2016-01-13 20:15] justbuchanan commented on #186
I browsed through your code and it all looks good to me.  Can you also post a pic of your breakout board?

[2016-01-13 20:26] justbuchanan commented on #186
I think the solution may be to put a resistor in series with the photoresistor, as shown here: ![photoresistor circuit](http://teach.alimomeni.net/2012spring2/wp-content/uploads/2012/02/analogin_variableresistor.jpeg).

I forgot about having that resistor in there before, but that should fix the issue.  @jjones646, do you know what resistor the final board will have?

[2016-01-13 20:52] ashaw596 commented on #378
Nice!

[2016-01-13 22:35] #339 closed

[2016-01-14 17:58] #365 closed

[2016-01-14 18:20] justbuchanan commented on #105
Is anyone interested in looking into this?  It would be nice for controls testing to model our 2015 bot in the simulator and it would be significantly easier to add it to grSim than to our current simulator.

Also see issue #246.

[2016-01-17 18:23] #119 closed

[2016-01-17 20:11] jgkamat commented on #334
Are these packets implemented in our simulator? I tried out a basic setup and I'm getting 0 for width/height.
https://github.com/RoboJackets/robocup-software/commit/592739285db0eab2823f383b01eac7dcb3df5efd

[2016-01-17 20:14] barulicm commented on #334
The simulator sends packets, but it might not fill out all of the fields. So they're atleast partially implemented.

[2016-01-21 05:48] justbuchanan opened #518 "debugThrow() should log errors"
Right now if we change the flag so that calls to `debugThrow()` don't raise exceptions, there's no way to know if something failed.  We should have it log info to `stderr`.

[2016-01-21 19:22] ashaw596 commented on #518
Makes senses.

[2016-01-21 20:33] ashaw596 commented on #518
Commit ba35c0d implements it. I meant to do a pull request, but I accidentally pushed to master. Well, nothing radical changed so....

[2016-01-21 20:33] #518 closed

[2016-01-22 19:12] ashaw596 opened #519 "Checkstyle does different things on mac vs ubuntu"
For some reason checkstyle on mac and ubuntu are slightly different. For example, 85721a7 passed checktyle on mac, but on ubuntu running make pretty resulted in, af30f23 which fixed two files.

[2016-01-22 19:15] justbuchanan commented on #519
Yeah this is a known issue, I don't really know how to fix it though :/.  The reason this happens is that homebrew pulls a more up-to-date version of `clang-format` than ubuntu does and there are slight differences in the formatting they apply.

[2016-01-22 19:17] ashaw596 commented on #519
oh meh. .... Man this lack of ubuntu support for up to date things are so annoying.

[2016-01-22 19:17] jgkamat commented on #519
Maybe clang-format has a backwards compatible mode? Newer versions shouldn't produce different output imo, unless there is a major version bump.

[2016-01-22 19:22] ashaw596 commented on #142
Is this moot with the new firmware and stuff? Or do we still want to d othis for backwards compatibility?

[2016-01-22 20:00] justbuchanan commented on #518
:+1:

[2016-01-22 20:54] justbuchanan commented on #519
@jgkamat, not that I could find unfortunately :/.  Not really sure how to fix this since it's tough/impossible to run the same version of clang-format on each platform.

One option would be to have the ci setup automatically run the formatter and push a commit to fix it.

[2016-01-23 01:32] guyfleeman commented on #155
Here's the link to the protocol GDoc: https://docs.google.com/document/d/1DBqsr7rLi9q3k9sROOHhTtqAbzGzHuztFSsPMocAkcI/edit?usp=sharing

[2016-01-23 01:37] guyfleeman commented on #155
Would a variable length forward packet cause significant timing issues? I'd like to get at least 8 bytes per tuning section on the forward packet for parameter updates. This makes a tuning section larger than a control section.

[2016-01-23 20:09] jedyang97 opened #520 ""Time Left" label occasionally generates random incorrect numbers."
Notice on the upper left side of the referee pane, the "Time Left" label displays an incorrect number. This doesn't happen every time I launch soccer. It happens about 1 in 5 times. I am on Mac OS X El Capitan.

![screen shot 2016-01-23 at 15 01 48](https://cloud.githubusercontent.com/assets/12980222/12532471/0314cf3c-c1e3-11e5-99e8-db86774af5a6.png)

[2016-01-23 20:37] #520 closed

[2016-01-23 20:42] jgkamat commented on #519
I don't like the idea of pushing automatically, because that could cause conflicts (multiple pushes, etc) if commits are added quickly. I would like the idea of printing the diff in the logs, and a command to easily apply the diff, though. If you think thats good, I'll go ahead and figure out how to do that.

[2016-01-24 04:13] jjones646 commented on #511
This is semi-fixed in the firmware branch. The usb virtual serial connection seems to depend quite a bit on the mbed itself. And updating the mbed interface firmware to the latest version on the mbed website is critical for this - it seems that the mbeds were not at this latest version when we initially received them.

For anyone paying really close attention, they would have noticed that I quickl

[2016-01-24 19:47] justbuchanan commented on #511
@jjones646, I'm having a little bit of a different issue now that's related to this.  I'm consistently seeing output as shown in the screenshot below:

[2016-01-24 19:48] justbuchanan commented on #511
![2016-01-24-144340_941x1056_scrot](https://cloud.githubusercontent.com/assets/115131/12538519/7026340a-c2a9-11e5-8d0c-f3ee08643848.png)

I did a `git bisect` and it says that commit 7844be0 is the culprit.  Can you take a look and see if you see something that might cause this?  Btw, I only see the huge chunk of question marks when a radio is connected.

[2016-01-24 19:53] ashaw596 opened #523 "Fix TrapezoidalPath hit method"
Its using the wrong types to store time.

[2016-01-24 22:54] justbuchanan commented on #519
That sounds good to me.  We could have it run a checkstyle, then output a patch file to apply if anything fails.  This will potentially require some changes to `stylize`, although it might be difficult.  I'll look into it and see what I can figure out.

[2016-01-25 05:46] jjones646 commented on #511
This was happening the other day and has something to do with the fpga config failing because there's no bitfile on the mbed. I'll look into it.

[2016-01-25 18:38] jjones646 commented on #511
@justbuchanan check out the stuff I just pushed. Should work for every possibility of startup results now.

[2016-01-27 01:37] ra4king commented on #514
#524

[2016-01-27 01:41] #514 closed

[2016-01-27 04:01] justbuchanan commented on #142
Yeah we can close this.

[2016-01-27 04:01] #142 closed

[2016-01-27 04:31] justbuchanan opened #528 "Rect.hit() isn't quite right"
cc @ashaw596

[2016-01-27 04:34] #143 closed

[2016-01-27 13:11] eis commented on #466
For future readers:
ccache only gained official support to clang in 3.2, see https://bugzilla.samba.org/show_bug.cgi?id=8118 for details.

[2016-01-27 14:31] jgkamat commented on #486
[this is where the trails are being drawn](https://github.com/RoboJackets/robocup-software/blob/59a87f3a43023338556e83c84a2a4a422bf9c365/soccer/FieldView.cpp#L429)

Last I checked, the obvious fix of changing the colors dosent work, it seems to be a larger issue? (opponents have no comet trails at all, in any scenario). I'm guessing this is because the path is not built correctly, but I'm not sure

[2016-01-27 18:24] ashaw596 opened #530 "Add ability to save and restore robot locations to soccer"
Currently, we can drag robots and reset the robot positions. It would be great if there was a way to save the current state of the robots and restore it in to allow easier testing plays and things in simulator.

[2016-01-27 18:32] justbuchanan commented on #530
Duplicate of #363

[2016-01-27 18:49] ashaw596 commented on #530
Its not the same. Saving the current state of the simulator to a config file is an issue of persisstance which is significantly more complicated. This is saving the location in soccer in memory and the restoring it using the currently already implemented communication protocol between soccer and simulator.

[2016-01-27 18:50] ashaw596 commented on #530
Also the other issue #363 sorely lacks detail about the desired feature

[2016-01-28 02:55] justbuchanan commented on #519
I opened an issue for this on the stylize repo [here](https://github.com/justbuchanan/stylize/issues/8).  The plan is to add an option to `stylize` so that it outputs a patch file (basically a git diff) so that fixing a broken style will be a one line command that downloads the patch file from circleci's build artifacts and applies it with `git apply`.

[2016-01-28 04:52] barulicm commented on #528
@ashaw596 Can you elaborate on this? I took a look at it last night and added more tests, but don't see any significant errors in the code.

[2016-01-28 05:13] ashaw596 commented on #528
Yeah, nvm, I just looked at it again and I think the logic works fine after commit 5b1ff5b is merged which adds Robot_radius and fixes the bugs in nearSegment. I thought some more weird stuff was still going on in nearSegment, but I think all the cases are covered. Its just a bit weird.

[2016-01-31 19:21] #378 closed

[2016-01-31 19:21] #523 closed

[2016-01-31 19:21] #528 closed

[2016-01-31 19:25] #343 closed

[2016-02-01 01:46] #519 closed

[2016-02-03 01:58] justbuchanan commented on #321
Closing this.  We'll be going with byte-stuffing in C++ since protobufs have a lot of overhead :cry:

[2016-02-03 01:58] #321 closed

[2016-02-03 01:58] #185 closed

[2016-02-03 14:38] justbuchanan commented on #400
@jjones646 What's the status on this?

[2016-02-03 14:42] #169 closed

[2016-02-03 14:43] #511 closed

[2016-02-04 02:26] justbuchanan opened #537 "Add support for building/loading firmware from Mac OS"
I haven't looked into this much, but @jjones646 found some hacks to get things to build.

The gcc-arm compiler/tools suite can be installed with `brew cask install gcc-arm`.  Our CMake setup needs some changes for this to work though.

[2016-02-04 04:36] jjones646 commented on #537
I was actually playing around with the cmake scripts earlier today. In an attempt to use as many cmake cross compiler things as possible. I also have a readme file that I started making about halfway through setting up my laptop. Wasn't really planning on pushing all of it yet, but I'll try cleaning a bit of it up and open a pull request so we can see how it checks out with circleci.

[2016-02-04 04:39] jjones646 commented on #508
@justbuchanan Are the new commands stable enough so this can be closed?

[2016-02-04 17:03] justbuchanan commented on #508
Yeah I think so.  I'll merge my PR that changes to the DISCOVER port into the firmware branch.

[2016-02-04 17:03] #508 closed

[2016-02-07 02:17] jjones646 commented on #537
I opened a [pull request](https://github.com/RoboJackets/robocup-software/pull/538) for this. It's not ready, but it is very close.

[2016-02-07 05:55] jpfeltracco commented on #184
@justbuchanan For compiling kicker board code to run on the ATtiny 84a, the only thing that would need to change is the CMakeLists.txt file in the src-kckr directory right? I'm only changing:
`set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -O2 -mmcu=attiny44a -DF_CPU=9600000")`
to
`set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -O2 -mmcu=attiny84a -DF_CPU=8000000")`

I think I'm uploading code to the attiny correctly,

[2016-02-07 07:24] jjones646 commented on #184
@jpfeltracco What you have there is correct.

[2016-02-07 19:38] ashaw596 commented on #360
Did this ever get fixed?

[2016-02-10 00:55] ra4king commented on #493
@jjones646 Is writing audio data using an interrupt-based mechanism the most efficient way of playing audio? A 44.1 KHz audio source would have to have its interrupt fired 44,100 times a second!

[2016-02-10 01:28] justbuchanan opened #539 "Circleci gives incorrct url for clean.patch"
Seems like this only happens for PRs from external forks of the repo.  See PR #536, commit 5630d5c.

[2016-02-10 02:01] justbuchanan commented on #539
Nevermind, we were just using an old version of DoCIF on that branch.  All is good.

[2016-02-10 02:01] #539 closed

[2016-02-10 04:07] #440 closed

[2016-02-14 18:23] jcarn commented on #392
For whatever reason I can't assign myself to this, but I'll work on it.

[2016-02-14 18:35] #490 closed

[2016-02-14 20:21] justbuchanan commented on #486
It seems that my fix for this didn't quite work...

[2016-02-14 20:47] #486 closed

[2016-02-14 21:28] justbuchanan commented on #399
Any progress on this, @mosdragon?

[2016-02-15 02:54] mosdragon commented on #399
@justbuchanan Sorry man, I've been swamped down past few weeks. This Tuesday I'll come in and have it working

[2016-02-15 03:57] justbuchanan commented on #399
Yeah no problem, I understand.  And sounds great!

[2016-02-16 00:31] justbuchanan opened #542 "Implement ball placement for 2016 technical challenge"
One of this year's technical challenges is to receive ball-placement commands from the referee system and have our robots carry them out.  The intention is that in the future, ref calls will be all automated and the robots on the field will set the ball up in the right position for restart plays.

Details here: http://wiki.robocup.org/wiki/Small_Size_League/RoboCup_2016/Technical_Challenges/Autono

[2016-02-16 00:34] jgkamat commented on #542
Would this be implemented as a simple tactic? If so, it shouldn't be too hard to do (we might have to add a 'let go of the ball' skill).

[2016-02-16 00:38] justbuchanan commented on #542
Yeah more or less.  I don't think this would be too hard to get running.  We'd need to add support for the new messages from the referee system and add a new game state and a variable to hold the desired ball position.  Then we can add a new play that's enabled only in that game state and have it do the work.

[2016-02-16 04:48] justbuchanan commented on #542
Here is the relevant protobuf file in the referee system.  Note that it's not on the master branch yet.

https://github.com/RoboCup-SSL/ssl-refbox/blob/remote-control/rcon.proto

[2016-02-17 02:14] JNeiger commented on #491
So I overloaded the `log(...)` function within the [`logger.hpp`](https://github.com/RoboJackets/robocup-software/blob/robot2015-firmware/firmware/common2015/utils/logger/logger.hpp) class to allow for a `std::ostream&` type overload (mirroring [this](https://github.com/RoboJackets/robocup-software/blob/master/firmware/common2015/utils/Logger/logger.hpp#L40) function in the old code).

Since both

[2016-02-17 03:33] #335 closed

[2016-02-17 04:24] justbuchanan commented on #491
Yeah that sounds about right.  We could just name the stream-based macro function to something slightly different.

One thing I just thought of that may cause problems for stream-based logging is thread-safety.  You'll notice in our current printf-style log function, we use a mutex to keep the log from being written to by multiple threads simultaneously and making a mess of the messages.  I'm not

[2016-02-17 07:05] #186 closed

[2016-02-17 19:54] JNeiger commented on #491
I was looking around and we may have to throw some sort of `flush()` function after the writes, it will solve the problem of collisions within the ostream output.

A temporary ostream will have to be created on each instance of a `LOG(...)` call. The insertion operator will be overridden to instead push the ostream input into a string buffer. This will allow for the entire string to be saved when

[2016-02-17 21:08] justbuchanan commented on #491
I like it!  I think that will work perfectly for us.  I was looking through the [google logging library](https://github.com/google/glog) and they use the same trick of having the macro expand to a temporary ostream object that writes its contents when it is destructed.  I made a quick gist to try this out: https://gist.github.com/justbuchanan/7eb692b3e7ba946b2698.

Printf, by default, writes the s

[2016-02-22 22:15] #279 closed

[2016-02-22 23:09] justbuchanan opened #546 "Calls to printf() in firmware aren't threadsafe"
Some corruption is caused in the log output due to calls to `printf()`.  Probably the best solution would be to add a threadsafe wrapper around printf and call it from `log()` and any other place we want to print.

Somewhat related to issue #491

cc @JNeiger, @jjones646

[2016-02-24 02:01] JNeiger commented on #491
I created a little [test program](https://gist.github.com/JNeiger/c49a703158922277b3bf) to make sure the solution works, but I can't seem to cause two `printf` calls to overlap like their `cout` counterparts.

Is this just because of my implementation within windows? Or do we not need to lock the `printf` calls like we thought?

I've been looking deeper into printf and it seems that ([At least in

[2016-02-24 04:13] justbuchanan commented on #491
I've done some looking around and like you said, `printf()` is thread-safe in POSIX.  From what I can tell, it's also thread-safe on Windows and on the MBED, which I wasn't aware of.  I think part of the reason why we've seen some weird logging is because there are two calls to `printf()` in our `log()` function, which gives the opportunity for another thread to call `printf()` in-between.  There'

[2016-02-25 01:31] #530 closed

[2016-02-25 21:39] justbuchanan commented on #184
@jpfeltracco, it took quite a while to debug, but I finally got this all working!

The main issue was that the `writeFlashMemoryPage()` in `AVR910` was shifting the page number incorrectly before sending it to the avr chip.  Writing page zero worked fine with the incorrect implementation because shifting zero gives you zero.  The error caused page 1 of the binary file to actually be written to the

[2016-02-26 15:31] jpfeltracco commented on #184
@justbuchanan Awesome! I merged it into my branch. I'm glad that's finally sorted out. I'll start working on the SPI communication now that we have a way to program the chip directly from the MBED.

[2016-02-26 15:56] ryanstrat commented on #184
@Jeremy, you should talk with Daniiel from the electrical team. He's been
working on API between and arduino and the mbed for a few weeks now.
On Feb 26, 2016 10:31 AM, "Jeremy Feltracco" <notifications@github.com>
wrote:

[2016-02-26 16:02] jpfeltracco commented on #184
Yup, we've been in contact!

[2016-02-26 16:41] danbudanov commented on #184
Jeremy, I think I know what was wrong on the chip side, and expect to fix
it today. Will there be anybody in the shop around 6 today?

On Fri, Feb 26, 2016 at 11:02 AM, Jeremy Feltracco <notifications@github.com

[2016-02-27 16:30] justbuchanan opened #552 "mbed OOM"
I've tracked the firmware segfault down to a lack of available RAM.  When I startup the MBED and type a command at the console, it usually will immediately segfault and reboot.  It happens at the `args.reserve()` line [here in commands.cpp](https://github.com/RoboJackets/robocup-software/blob/master/firmware/robot2015/src-ctrl/modules/commands/commands.cpp#L992).  GDB doesn't show a valid stack tr

[2016-02-27 16:38] justbuchanan commented on #552
The [MBED Memory Model](https://developer.mbed.org/handbook/Memory-Model) documentation says that if you allocate too much memory on the heap, this will happen.  See the "Collisions" section.

[2016-02-27 23:57] jjones646 commented on #552
Each thread has it's own stack. So that makes things exponentially more complex to track down.

GDB may not be able to provide a valid stack trace because of it. I don't know enough about the inter-workings of the RTOS framework to say that for sure, but it's definitely something to consider here. That line is called very early after a signal would be released for that thread - and if you manually

[2016-02-28 00:02] jjones646 commented on #552
So it looks like `#define OS_STKINIT` may be the thing to use, it says `#define OS_STKCHECK` is for checking stack overflows at a thread switch.

[2016-02-28 18:16] justbuchanan commented on #552
Good point, I completely forgot about each thread's stack when I was accounting for memory usage.  I think if we rearrange a bit, we can cut out the `CommTaskThread` since it really just initializes the `CommModule`.  Doing that will save us a stack, which may be enough.

I'll look into the stack check macros.  I tried to use the `-fstack-protector` flag for `g++`, but it didn't seem to be support

[2016-02-28 18:47] justbuchanan opened #553 "Builds fail on OS X due to lack of arm compiler"
We should add something to our `osx-setup` script to install it.  Maybe make it optional with a `--firmware` flag like we have for `ubuntu-setup`?

[code]

We are also lacking mercurial in our list of homebrew packages for OS X.

[2016-02-28 18:47] jcarn opened #554 "to-Python converter printing warnings on make run-sim"
The following warnings are printed immediately before the soccer window pops up and runs normally:

[code]

[2016-02-28 19:10] jgkamat commented on #554
removing the `register_ptr_to_python` statements in `robocup-py.cpp` seems to solve the problem (and they don't seem to affect usage). Maybe a newer version of boost removes the need for those statements?

[2016-02-28 19:43] justbuchanan commented on #553
closed by PR #555

[2016-02-28 19:43] #553 closed

[2016-02-28 20:42] justbuchanan opened #557 "Add a docs page for coding/naming conventions"
I think we used to have an example C++ file demonstrating naming conventions of variables, instance variables, classes, methods, etc.  I'm not sure where it is though...  It would be helpful to have a reference for this type of thing on our docs site.

We also could just link to the google style guide and put a short summary on our site.

[2016-02-28 20:43] justbuchanan commented on #552
I tried changing up CommTaskThread so that it initializes Comm stuff, but is run on the main thread instead of its own thread.  I haven't had it segfault since then.

I'll clean it up a bit and send you a PR.

[2016-02-29 07:21] jjones646 commented on #552
I don't believe `-fstack-protector` is of much use at a kernel level, and would make the stacks bigger if used.

I image there some weird linker things happening. The threads are defined with macros at the lowest level, so there may be some quirky things going on there. Since the the common2015 library contains threads and is compiled at a different time than that of main, the preprocessor may tre

[2016-02-29 17:51] jjones646 commented on #546
From issue #491, yes, `printf()` is already thread safe. Thread safe in the sense that two calls to `printf()` will not cause a memory race condition and crash the microcontroller. However, there is no guarantee about keeping buffers in order.

The mutex used in the log function ensures that two 'parallel' calls to `log(...)` will be sent to `printf()` at different times. The log function also ens

[2016-03-02 00:11] jcarn commented on #366
I'd be interested in this, which files does this involve?

[2016-03-03 16:39] jgkamat commented on #366
This would be a semi-major restructure, but doing it would help you learn a lot about the play framework.
[this is our basic offense play](https://github.com/RoboJackets/robocup-software/blob/33a3b43f5f9b04c72b234fd3a1b473a800990f21/soccer/gameplay/plays/offense/basic_122.py). [This is where the current defense plays are added](https://github.com/RoboJackets/robocup-software/blob/33a3b43f5f9b04c72

[2016-03-06 19:20] #392 closed

[2016-03-07 06:06] JNeiger commented on #546
I ended up making a general [`log_printf` function](https://gist.github.com/JNeiger/555a20c2418197121f68) that I think I will help solve both this and #491. I think I have everything in there setup right, but I just want to make sure.

[2016-03-07 18:23] justbuchanan commented on #546
Looks good to me.  Rather than make this its own function, you could probably just change the implementation of our current `log()` function to be more like this.  Using a temporary buffer so that we only have to write to stdout one time per log should fix our issues.

[2016-03-08 18:12] justbuchanan opened #565 "Change style config to require a newline between function/method defs"

[2016-03-09 01:57] justbuchanan opened #568 "Add firmware/common2015 to doxygen"

[2016-03-09 02:45] #568 closed

[2016-03-09 02:53] justbuchanan commented on #565
Doesn't look like this is possible with clang-format :/

[2016-03-09 02:53] #565 closed

[2016-03-10 02:02] #491 closed

[2016-03-15 03:14] justbuchanan opened #573 "`make robot2015-gdb` should ask which mbed to use when multiple are connected"
Right now it just fails when more than one MBED is connected, it would be nice if it asked which one to use.

cc @jjones646

[2016-03-15 06:38] jjones646 commented on #573
[Here's](https://github.com/mbedmicro/pyOCD/pull/221) some things that the developers for pyOCD pointed towards.

[2016-03-15 23:42] #337 closed

[2016-03-16 00:27] #552 closed

[2016-03-17 22:42] justbuchanan commented on #399
@mosdragon I may go ahead and finish this one up so we can cross it off the list.  Do you know what the current status is?

[2016-03-17 22:45] mosdragon commented on #399
Hey @justbuchanan sure thing! I meant to tell you earlier, I probably won't be able to make it to meetings now because of my workload.

https://github.com/mosdragon/robocup-software/tree/firmware2015/rotarySelector

I never got around to testing it like you said to do, but it now compiles.

[2016-03-17 22:46] justbuchanan commented on #399
Sounds great, I'll take a look at it!  And no worries, Tech will do that to you haha

[2016-03-17 23:24] #546 closed

[2016-03-18 01:52] justbuchanan opened #578 "Implement address filtering in CC1201"
TODO:

- [ ] Set the cc1201 address register based on the board/base id
- [ ] Ensure that register configs are setup for address transmission/filtering
- [ ] verify address placement in packet binary format

[2016-03-22 06:39] #537 closed

[2016-03-22 06:42] #170 closed

[2016-03-27 13:43] justbuchanan opened #581 "Fix travis-ci failing"
It's failing because the `osx-setup` script is taking too long, so travis-ci times out and kills it.

[2016-03-28 00:56] justbuchanan opened #583 "Smarter sizes for firmware thread stacks"
Right now we initialize threads with a defined stack size that's smaller than the default in order to conserve ram.  These sizes are pretty arbitrary though, it would be better if we find out how much stack each thread is actually using and set it to something slightly higher.

See PR #562

[2016-03-28 01:03] justbuchanan opened #584 "Fix avr-isp"
TODO:

- [ ] Fix `checkMemory()` function - it checks to see if the avr's flash memory contents are equal to a given binary file, but sometimes incorrectly says they're equal.
- [ ] Fix `enableProgramming()` function

See PR #559

[2016-03-28 03:00] justbuchanan commented on #400
@jjones646 is this something that we'll need or should I close this?

[2016-03-28 03:02] justbuchanan commented on #398
Unfortunately doxygen doesn't actually work with verilog, so comments in verilog code files will not show up on the docs site.  Comments are still good though :)

We could add a page to the docs site that gives an overview of our verilog code, which would be pretty helpful.  This would go best as a file under the `doc/` folder.

[2016-03-28 03:52] justbuchanan opened #586 "Add status to MPU-6050 (IMU) and set error LED appropriately"
See PR #576

[2016-03-28 03:53] justbuchanan opened #587 "Initialize ball sensor instance and set leds based on status"
See PR #576

[2016-03-29 23:05] jjones646 opened #590 "Remove FPGA's SoftwareSPI for configuration with new Control Boards"
On the first PCB board design, the pins are wrong - so the SoftwareSPI has to be used for initially configuring the FPGA. This is fixed for the boards that will come in next, so the firmware can be switched to use regular SPI for those.

[2016-03-29 23:24] ashaw596 opened #591 "Create a UI popup when Python Errors Occur"
It would be nice to have some type of alert so we're not confused when the robots just don't move.
We'd have to figure out how exactly to do this.

[2016-03-30 00:13] #399 closed

[2016-03-30 00:18] #345 closed

[2016-03-31 23:58] justbuchanan opened #592 "Update radio config to make use of cc1201's speed and features"
Right now we're using the same config on the cc1201 as we used before on the cc1201.  We should be able to change some parameters to get things a good bit faster.  We also may want to check out things like data whitening, etc.

[2016-04-01 21:40] justbuchanan opened #593 "Fix build warnings related to boost python"
I've messed around with this, but haven't had any luck fixing it yet.  It's incredibly obnoxious though to see tons of these scroll by on each build:

[code]

[2016-04-03 19:45] #587 closed

[2016-04-03 20:30] #370 closed

[2016-04-04 01:27] jjones646 commented on #493
Well, it all comes down to how much we value audio - and the tradeoff of quality with system resources. The main issue is that it has to play nicely with the rtos setup, so I'm not sure if other approaches would work out.

[2016-04-04 01:29] jjones646 commented on #400
We'll need this.

[2016-04-04 01:54] jjones646 commented on #184
### Related Trello Cards
[Kicker Logic Specs.](https://trello.com/c/1XqeDtD4/157-kicker-board-requirements)
[SPI Prototyping](https://trello.com/c/rvMa3PoB/146-kicker-board-functionality-prototyping)
[SPI Arduino](https://trello.com/c/vcj7MJEu/154-mbed-arduino-spi-communication)
[Kicker Voltage Meas.](https://trello.com/c/UIJUXWG6/143-kicker-board-attiny-voltage-measurements)

[2016-04-04 02:14] justbuchanan commented on #400
How would something like this work?  It's connected via i2c, so what line(s) serve as the interrupt?

[2016-04-04 02:27] jjones646 commented on #592
The only real reason for moving to the CC1201 was for being able to use 4-GFSK modulation. That's where the most speedup would happen, but it also means no compatibility with the current base station. The physical layout of the PCB also become more important for signal quality with 4-GFSK.

[2016-04-04 02:43] justbuchanan commented on #592
Sounds good.  I've got a config from testing a while ago that uses 4-GFSK and seemed to work pretty well.

As for compatibility with the current protocol, I haven't been able to get the CRC to pass on a packet sent from the old base station to a new cc1201 board.  Not sure what the deal is with that because I read through the datasheets thoroughly and had it configured appropriately from what I co

[2016-04-04 02:43] jjones646 commented on #400
There's another line for the interrupt itself - should be defined in the pin declarations file. It's a fairly trivial thing to do, but the lack of testable hardware is definitely the burden here.

[2016-04-04 18:31] justbuchanan commented on #278
@guyfleeman I remember discussing serial vs HID for the connection a while ago, but I don't remember the details.  What are the pros/cons of going with HID?  I'm wondering if it might be easier to use serial since we won't need the extra usb connector.

[2016-04-04 20:45] guyfleeman commented on #278
@justbuchanan

PROS:
From a reliability with re-connection standpoint I think HID is superior. I know the base doesn't necessarily need to be hot-pluggable but some serial quirks with this can be annoying, like if you write the line when linux is IDing the device, the output can get currupted. Also, for future events where we might need two base stations for 12 bots, I think it'd be easier. Of cou

[2016-04-06 00:16] jcarn opened #603 "Scoring while running a play causes PathPlanning failed errors"
This isn't urgent at all, but it is a bit of an annoyance. When an offensive play is ran and the robots score, they start throwing PathPlanning Failed errors. They continue doing this even if you remove the ball from the goal, and often freeze in place. After some random amount of time they can unfreeze themselves and start acting normally. Disabling then re-enabling the play seems to fix the erro

[2016-04-06 00:31] justbuchanan commented on #603
@ashaw596 any ideas?

`git bisect` might be a good tool to use to track this down, assuming it was introduced semi-recently.

[2016-04-06 01:33] ashaw596 commented on #603
I'll take a look. I was pretty sure it was mostly just the ball being in an unreachable location, but I'll check.

[2016-04-06 01:34] ashaw596 commented on #603
The reason its popping up now is just that I added that debug statement to the pathplanner, but I'll check the freeze in place bug.

[2016-04-07 20:32] jcarn commented on #366
Are there any plays that we want to ignore the UI telling it to Use/Not Use defense?

[2016-04-07 20:35] justbuchanan commented on #366
There are a couple test plays that don't really make sense with defense disabled, but I think when we want to run those, we can just make sure the defense checkbox is checked.

[2016-04-07 21:10] justbuchanan opened #606 "Switch to ninja for firmare compilation"

[2016-04-07 22:02] justbuchanan opened #607 "Fix race condition in soccer"
Not sure what the cause is yet, but occasionally (not always) soccer crashes at startup with this error message:

[code]

note: this can be reproduced by putting a small delay in `USBRadio.open()` and having a radio connected.

[2016-04-08 03:35] justbuchanan opened #608 "Setup control board DIP switch to control radio channel"

[2016-04-08 04:01] #346 closed

[2016-04-10 18:18] justbuchanan opened #610 "ls command in firmware is broken"
Here's what I get when I run it:

[code]

Any ideas @jjones646?

[2016-04-10 18:27] justbuchanan opened #611 "Firmware's hard fault handler should trigger a reboot in competition mode"
Right now it infinite loops, which is nice for debugging.  In competition though, we'd much rather it reboot and try again.

[2016-04-10 21:39] justbuchanan opened #612 "The `led` command crashes firmware"
The led command crashes when I try running it:
[code]

[2016-04-11 19:16] justbuchanan opened #618 "Add ability for non-visible robots to join in radio protocol"
Related to #155.  cc @guyfleeman @jjones646

[2016-04-11 19:19] justbuchanan opened #619 "Setup PID control in robot firmware"
Eventually we're planning to use an LQR controller (see PR #322), but it would be nice to have a PID controller setup in the meantime because it's much simpler to implement.

[2016-04-11 19:43] justbuchanan commented on #155
Closing this since it's been replaced by these 3: #154 #304 #618

[2016-04-11 19:43] #155 closed

[2016-04-11 19:44] ashaw596 opened #620 "Create a way to have a stream output in soccer for debug"

[2016-04-11 19:46] justbuchanan commented on #620
What do you mean by stream output?

[2016-04-11 19:54] ashaw596 commented on #620
I mean like either a text stream like in cmd that is everything. The usefulness for that is that we could also pause and go back with the log. Or it could be instataneous and its just nice to be able to output with needing a specific robot object.

[2016-04-12 12:29] jjones646 commented on #610
[Here's](https://github.com/RoboJackets/robocup-software/commit/65adfb7124b394d4f3b9ce87bce02432b5e9b5ad#diff-79205bd1f31748766e81beff91d5c9e5L51) the issue.

[2016-04-12 16:35] justbuchanan opened #621 "Investigate QML for soccer UI"
Our current GUI setup is sort of tough to modify because re-arranging parts of the interface requires destroying a lot of the layout, then rebuilding it.  Another downside to our current setup is that if two people modify `.ui` files simultaneously, merge conflicts are pretty much guaranteed to happen.

Qt's newer system for building UIs is [QML](http://doc.qt.io/qt-5/qtqml-index.html), which look

[2016-04-12 19:13] justbuchanan opened #622 "Move all drivers into the common2015 folder"
Right now we have some firmware drivers in common2015 and some on robot2015/src-ctrl.  It'll be easier to write test programs (see robot2015/hw-test) if the drivers are all in one place.  Thoughts @jjones646?

[2016-04-12 19:55] justbuchanan opened #623 "FPGA.send_config() has potential infinite loop"
If something's broken, the `do {} while ()` loop in this method might never terminate.  We should have it time out after a set number of iterations and return an error.

[2016-04-12 20:31] justbuchanan commented on #610
:+1: good find.  I'll get this fixed.

[2016-04-12 22:59] #622 closed

[2016-04-12 23:07] ashaw596 commented on #446
Workingish version on [albert/pivotPlanner](/RoboJackets/robocup-software/albert/pivotPlanner)

[2016-04-12 23:08] ashaw596 commented on #446
Angular acceleration and PID has to be ramped up though to match the turn speed

[2016-04-12 23:13] chachmu commented on #607
The main.game_state ultimately gets called from inside processor.run() after running some code to set up the radio. I think if the delay for setting up the radio is long enough, it keeps the creation of main.game_state from happening until after main.cpp calls processor->gameplayModule->loadPlaybook which is causing this error.

[2016-04-13 00:49] #283 closed

[2016-04-13 00:49] #607 closed

[2016-04-13 02:11] justbuchanan opened #632 "Fix channel-setting in USBRadio"

[2016-04-13 04:49] justbuchanan opened #633 "Implement "self test" functionality for firmware"
The control board has a "self test" button on it that is intended to perform hardware checks and report if there are any errors.  It currently isn't setup to do anything, but we should write some code to make it functional.

@jjones646 any thoughts on exactly what this button should do?  We already have the red error leds set to light up for certain things, but a lot of those checks happen right n

[2016-04-13 15:17] justbuchanan opened #634 "Measure battery voltage in firmware"
@jjones646 how is the ADC for this setup?

[2016-04-13 16:27] ashaw596 opened #636 "Update Simulator to stop using deprecated bullet lib functions"
Not really important since simulator (relatively speaking) but it would be nice to get rid of the million warnings that simulator generates right now at some point.

Mostly deprecated functions stuff. Also some stuff about including both gl3.h and gl.h

[2016-04-13 16:54] jjones646 commented on #634
It's just a voltage divider from the battery. Comes into one of the ADC pins on the mbed.

![vdivider](https://cloud.githubusercontent.com/assets/7342505/14501656/77da405a-0175-11e6-9fc1-038676748df5.png)

The min/max limits for the lipo are 16V and 21V respectively. So the ADC range is this with a linear relationship:
min: 0.621
max: 0.815

Those are pretty loose bounds, and it's a bad idea to op

[2016-04-13 17:00] jjones646 commented on #633
Something that could be pretty useful would be to spin each motor ~1/4 turn in series - one at a time.

This also brings up what the dip switches will be used for too.

[2016-04-13 17:28] justbuchanan opened #637 "Thread ids printed in the console don't match the "ps" command"
The ps command shows thread task ids (generally single digit numbers), while the thread ids printed in several places in our code show up as huge numbers.  It looks like this is because the thread id printed in many places is from `Thread::gettid()`, which returns a pointer to `os_thread_cb` rather than the actual task id.

[2016-04-13 17:33] justbuchanan opened #638 "Double-check field sizing against new SSL rules"
The new rules add a wall between where the refs walk and where the robots are.  We should double-check and make sure that the field border size we have set in `Field_Dimensions` matches the new setup.

[2016-04-13 17:51] jjones646 commented on #623
Did this happen to you? This seems like something that requires the perfect storm to happen.

`FPGA::send_config()` really needs to be private - it was never really meant to be called outside the class..

`FPGA::configure()` *should* return before calling `FPGA::send_config()` if there's something wrong with the minimal required hardware. If you send a file that doesn't have `0x00` in it, that cou

[2016-04-13 17:57] jjones646 commented on #623
@justbuchanan When you get some time, send `MBED.HTM` as the config file. If it doesn't stall when doing that, then this would be solved by just making `FPGA::send_config()` private - or just putting it inside `FPGA::configure()`. Just did a recursive search and `FPGA::configure()` is the only place it's used - and probably should be used from considering calling it the wrong way means no motors.

[2016-04-13 18:08] justbuchanan commented on #623
It didn't actually happen to me, I think I'm just paranoid haha.  I had a similar loop in CC1201 a while ago that waited for an IO to change that in some cases wouldn't happen - it took a while to track down exactly where the issue was.  I took a look at the code again and you're right, it'll always end because the loop stops when it hits the end of the file.

[2016-04-13 18:09] #610 closed

[2016-04-13 18:11] justbuchanan opened #639 ""ls" command throws an exception when run on a control board."
... but it works fine when the mbed isn't on a control board.  See PR #625

[2016-04-13 18:34] jjones646 commented on #637
Any suggestions on steps to take for this? I guess we'll want to pick one or the other for both places.

IMO the single digits are definitely more intuitive, but I don't really know how to get that number using the mbed static methods.

[2016-04-13 18:36] jjones646 commented on #619
https://developer.mbed.org/cookbook/PID

[2016-04-13 18:51] JNeiger commented on #637
From what I can tell, `Thread::gettid()` returns a [P_TCB object](https://developer.mbed.org/users/mbed_official/code/mbed-rtos/file/bdd541595fc5/rtx/TARGET_CORTEX_M/rt_CMSIS.c) (Line 576). If we force cast the pointer to P_TCB then just grab the task_id from that, we can pull the single digit ones.

It's almost the exact same thing we are doing [here](https://github.com/RoboJackets/robocup-softwa

[2016-04-13 18:56] justbuchanan opened #640 "Fix ninja build warning about git_version.cpp"
This gets printed out at every build and is a little annoying.  There's probably something wrong in our CMake files.

[code]

[2016-04-13 19:51] jjones646 opened #641 "Fix timing error in 6StepPWM scheme when direction is reversed"
For some reason when using the 6Step PWM scheme, one direction doesn't show right in simulations.

[2016-04-13 20:46] justbuchanan commented on #619
Nice, that's a good resource!

Also for reference, we have a [PID class](https://github.com/RoboJackets/robocup-software/blob/master/common/Pid.hpp) in our codebase that we're currently using for soccer that we can also use in firmware.

[2016-04-13 21:24] justbuchanan commented on #639
@jjones646 I tried the higher baud rate and couldn't get anything readable out of the console.  I also tried a few other baud rates with no success.  It's still throwing an exception when I run `ls`.

[2016-04-13 21:31] ashaw596 opened #642 "Make gitsubmodules commands run as normal user and chown all the external directories"
Not terribly important. But it be nice to prevent problems in the future that make drastic changes to our submodules. The owners on those are all mixed with root right now.

[2016-04-13 21:56] #642 closed

[2016-04-13 23:36] jcarn commented on #638
Is this using the 2015 rules? If it is using 2016 rules, where might those be located? The official page/official wiki only has up to 2015 but it looks a tad outdated.

[2016-04-13 23:38] justbuchanan commented on #638
Yeah they switched the location of their wiki not too long ago, so google often points to the old one.  Here's the page with the 2016 rules:

http://wiki.robocup.org/wiki/Small_Size_League/Rules

[2016-04-13 23:44] jcarn commented on #638
Ah gotcha, thanks

[2016-04-14 03:16] justbuchanan opened #644 "Radio commands should fail if the radio failed to initialize"
right now they silently do nothing, making it tough to track down...

[2016-04-14 19:48] justbuchanan opened #645 "Radio calibration doesn't work right"
When packets are sent/received infrequently (I tried ~1/sec), things work great.  If they're sent at 60Hz, they work for several packets (~20), then stop working.  The radio seems to be transitioning through the correct states, etc and no errors are reported, so I think it's a calibration issue.  @jjones646 do you have any suggestions for things to try here?  I've messed around with the `FS_AUTOCA

[2016-04-14 23:12] #637 closed

[2016-04-15 00:39] #434 closed

[2016-04-15 05:21] justbuchanan commented on #645
@jjones646 Here's the branch we were working from earlier tonight: https://github.com/RoboJackets/robocup-software/tree/justin/new-protocol.  The last few commits should be looked at again - probably 1 in every 10 line changes was actually useful.

[2016-04-16 10:07] jjones646 commented on #608
see [`jon/io-interrupt`](https://github.com/RoboJackets/robocup-software/tree/jon/io-interrupt). This is in there, but I'm not sure how that whole setup is going to play out in the long run.

[2016-04-17 18:31] JNeiger commented on #316
I noticed the title changed for this. Does this now mean we want to write the log files to the mbed? Or are we still trying to do it over wireless?

[2016-04-17 18:35] justbuchanan commented on #316
Just to a file for now.  Sending log messages wirelessly would be pretty cool, but it'll be a while before we can get something like that setup.

[2016-04-17 22:21] chachmu commented on #542
Is there a way to control the simulated refbox to send placement commands? Also I think they have moved the protobuf file to the master branch now.

[2016-04-18 01:01] jgkamat opened #652 "Stop play no longer works"
This is pretty important, we need the stop play to complete. Press the stop button in the top right, and assign a goalie.

Introduced in a10654f07fdf73f2951ae9a0081b865a23102880

[code]

Seems like something introduced in the move from constants.py to the Field_Dimensions object.

I don't think it would be too hard to fix, but I don't have time to look into it right now.

Whoever fixes this should

[2016-04-18 01:39] jjones646 commented on #623
@justbuchanan  So we switched out the FPGA today in favor of one that has more logic gates. Guess what happens if you try sending it a bitstream file that was synthesized for our current FPGA part number instead of it...this.

It does eventually time out, but it's 30+ seconds at least. It's an easy fix in the code actually, and I just did it. But none of that is pushed to here yet.

[2016-04-18 01:41] justbuchanan commented on #623
Hahaha that's awesome.  Good to know I wasn't totally off-base here :).  Should be an easy enough fix

[2016-04-18 01:48] jjones646 commented on #623
Fixed

[2016-04-18 02:07] jjones646 commented on #623
jk...see [here](https://github.com/RoboJackets/robocup-software/commit/398bc9b3b3feeee76a6a01383a4f9eb41bce1240#commitcomment-17136667)

[2016-04-18 02:56] jjones646 commented on #623
Here's a quick update of where the fpga config starts failing. It's an issue at the moment, but wouldn't consider it a bug worth looking into just yet. I won't go into too many details, but it's almost certainly the SoftwareSPI to blame here - and that's getting changed once the new boards are in.

bad -> 165a6c5 - revert main.cpp changes from avr branch merge
can't compile -> 1cc30b2 - Merge bran

[2016-04-18 03:52] jjones646 opened #653 "Fix FPGA configuration error checks"
In the `FPGA::configure()` some of the boolean logic for determining configuration pass/fail is flipped.

Starting [here](https://github.com/RoboJackets/robocup-software/commit/95d6497#diff-6920438aaa7eefded6ad03fb0305434cR68)

[2016-04-18 03:53] jjones646 commented on #623
Scratch that, see #653

[2016-04-18 03:53] justbuchanan commented on #653
Oops, my bad...

[2016-04-18 06:06] #623 closed

[2016-04-18 06:06] #639 closed

[2016-04-18 06:06] #653 closed

[2016-04-18 19:15] #366 closed

[2016-04-18 19:45] jcarn commented on #652
I'll check it out, talk to you tomorrow at the meeting if I have any questions

[2016-04-18 19:55] jgkamat commented on #652
Cool, thanks! Take a look at #566, that migration seems to be causing it.

This is the field it was using before
https://github.com/RoboJackets/robocup-software/pull/566/files#diff-e66f525f29c7b1c22d55c141f04a8016L77

I'm not sure if there is a new alternative (you might have to make a new field in Field_Dimensions with the same contents as the old one).

[2016-04-19 00:21] #638 closed

[2016-04-19 00:25] chachmu commented on #652
That means its probably my fault, I will take a look tomorrow

[2016-04-19 15:52] #334 closed

[2016-04-19 23:15] justbuchanan opened #658 "Determine range of lighting conditions that work for ball sensor"
The ball sensor code for the old robots checks to ensure that the detector isn't receiving too much light.  If it is, we know that it's too bright for the sensor to actually tell if the emitter is on or off.

[2016-04-24 18:08] ashaw596 opened #662 "Add Functional Tests to Soccer"
It would be nice since our unit test coverage isn't great to add some functional tests that test basic soccer functionality like stop, start, and basic plays.

[2016-04-25 21:20] #292 closed

[2016-04-25 21:23] justbuchanan commented on #662
I think this will require a good amount of changes to `soccer`, but it's definitely a good idea.  We'd probably need to add a "headless" mode to soccer similar to what we have for the simulator so that it can run on circleci without a display.

Somewhat related to https://github.com/RoboJackets/robocup-software/issues/217

[2016-04-26 22:51] jcarn commented on #228
I'll look into this and see if I think I am up to the task

[2016-04-26 23:01] jgkamat commented on #228
Look into the SubmissiveDefender Play, I think you'll only need to modify that file.

[2016-04-26 23:21] jcarn opened #664 "Implement role_requirements and assign_roles methods in behavior.py"
Right now they throw NotImplementedErrors. It is possible they are unneeded now, since clearly soccer manages without them, but in that case they should probably be removed.

[2016-04-26 23:32] #664 closed

[2016-04-26 23:33] jcarn commented on #664
Realized they were essentially abstract classes, ignore me

[2016-04-27 01:51] jcarn commented on #228
When choosing to clear the ball or not, is the ratio between how quickly the defender can clear and how quickly the opponent can reach the ball a good metric?

[2016-04-27 06:05] jgkamat commented on #228
That probably would be the best metric, but it would be hard to find out (we don't know how fast their robots are). Maybe distance would be an easy way to do this for now.

Also, if the ball is moving, we want to intercept the ball where it is going to be, not where it is. Capture (should?) do this for you.

[2016-04-27 06:12] jcarn commented on #228
I think it is important to take into account the case where they are moving at high speed towards the ball, so I'll look into a hybrid method since a case involving acceleration on their part would be hard to measure.

Gotcha, I will use that. Thanks

[2016-04-27 20:16] #652 closed

[2016-04-27 21:12] justbuchanan opened #665 "`make behavior-diagrams` fails for some plays"
Here's the error message:

[code]

Also, it may be good to add a check for this to our CI setup.

[2016-04-27 21:53] #665 closed

[2016-05-05 23:32] JNeiger commented on #316
https://developer.mbed.org/handbook/LocalFileSystem

When a file handle is open, you cannot access the mbed from the PC (Not sure if this includes screening).

I can have it occasionally write, but that may cause a few program loads to fail every once in a while and it would get annoying.

If we can see when it's connected to a PC, it should be simple to stop the file logging, but I'm not really s

[2016-05-09 19:32] justbuchanan commented on #316
Sorry for the slow response, it's been a pretty busy past few days.

I've done some experimenting with this and it turns out that you can have the mbed read/write files while you're `screen`ed into it, you just can't have the mbed mounted as a usb drive.  I made a quick demo of this [here](https://github.com/RoboJackets/robocup-software/commit/0710d04774c51a91c80ea0c5ebacaa7b944b4c23) - just make

[2016-05-18 00:17] justbuchanan commented on #581
travis-ci now supports caching on OS X, so once we set that up, our problems should be fixed.  Shouldn't be too hard to do.

https://blog.travis-ci.com/2016-05-03-caches-are-coming-to-everyone

[2016-05-18 00:44] justbuchanan commented on #493
@ra4king how far were you able to get on this?  And do you think you'll be able to get it finished somewhat soon or should we try and find someone else to work on it?

[2016-05-18 01:03] justbuchanan commented on #184
@jpfeltracco @danbudanov how's progress on this?

[2016-05-18 01:17] justbuchanan opened #669 "Path-planning occasionally gets "stuck""
I'm not sure exactly what the cause is, but I'm seeing some path-planning issues with the defenders near the goal zone.  Below is a screenshot showing the issue.  Robot 3 is supposed to be moving into position to block a portion of the red ball-projection triangle, but it isn't moving at all and has been there for several seconds.  I'm guessing it has something to do with the goal zone obstacle.

[2016-05-18 01:49] jpfeltracco commented on #184
Pretty good, we've got the major functionality finished, as well as an implementation of our communication protocol implemented in a header file shared between the KickerBoard class and main.c for the ATTINY. The only thing I wasn't sure about was how exactly we wanted the debug buttons set up. Will you be around Thursday to take a quick look?

[2016-05-18 02:06] justbuchanan commented on #184
Sounds great!  Yeah I'll be around Thursday - what time are you thinking?

[2016-05-18 02:13] jpfeltracco commented on #184
Does 7:30 pm work?

[2016-05-18 02:46] justbuchanan commented on #184
Yeah that should work - I'll confirm with you on Thursday

[2016-05-18 03:10] justbuchanan opened #670 "Update 2015 firmware docs page"
It's pretty parse: http://robojackets.github.io/robocup-software/md_doc__robot_firmware2015.html.

Some of the info will have to wait until later when we get it all figured out, but there's definitely plenty we can add to it now.

[2016-05-18 03:25] justbuchanan commented on #669
It actually may not be related to the goal zone, I'm seeing the same problem in the screenshot below.  I ran soccer, set goalie to robot 2, then ran the TestDefense play.  Robot 5 is supposed to get into defense position, but is "stuck" where it started out.  It did finally move to where it was supposed to after several seconds, but it took a while.

![2016-05-17-232328_1331x980_scrot](https://clo

[2016-05-18 03:49] jgkamat commented on #669
@ashaw596 This is the issue that I was showing you on the last day

You can reproduce this reliably by running the stopped play and moving the ball around a bit. Its usually a single robot (5 in my case) that gets stuck. Not sure why though.

[2016-05-18 21:23] justbuchanan opened #671 "Firmware "screensaver" stops working after a few minutes"
The "screensaver"/imAlive lights on the MBED builtin LEDs work for a little while, then stop.  This may be related to PR https://github.com/RoboJackets/robocup-software/pull/588.

[2016-05-19 02:28] justbuchanan opened #672 "CC1201 fails if other radios are transmitting when firmware boots up"
Maybe we need to flush buffers and strobe it into RX after everything initializes

cc @jjones646

[2016-05-19 02:51] jjones646 commented on #672
there's high speculation that it's due to the mbed missing the 1st edge triggered interrupt from the cc1201, but that hasn't been looked into yet.

[2016-05-19 03:01] ashaw596 commented on #669
Hmm. Cool, If its reproducable I should be able to figure out whats going on. I'll take a look.

[2016-05-19 04:33] justbuchanan commented on #672
Relevant google doc: https://docs.google.com/document/d/1oop82J2OscGVAEYbQcU4IoGHz5mU44n06LuA0Ib1iaU/edit

[2016-05-19 05:58] #669 closed

[2016-05-20 05:51] ashaw596 opened #674 "Segfault in PyQt"
I get this seg fault randomly occasionally when running Basic122.
It takes a while. Not really sure whats causing it.

[code]

[2016-05-20 05:52] ashaw596 commented on #674
@justbuchanan Have you seen this?

[2016-05-21 00:16] justbuchanan commented on #184
@ryanstrat assembled a kicker board, so I think the hardware's mostly ready!

![20160519_223304](https://cloud.githubusercontent.com/assets/115131/15445118/c295593a-1ec7-11e6-9e25-2130a414b4af.jpg)

[2016-05-21 00:22] justbuchanan commented on #674
Hmm, I haven't seen this before but I haven't run many plays lately.

I just tried running Basic122 and it didn't crash after a few minutes of messing with it.  Is there anything in particular you can do to make it crash?

[2016-05-21 00:40] ashaw596 commented on #674
No idea. It crashes randomly every like once every couple times after
running for 5 minutes. On my Mac at least.

Hmm, I haven't seen this before but I haven't run many plays lately.

I just tried running Basic122 and it didn't crash after a few minutes of
messing with it. Is there anything in particular you can do to make it
crash?

—
You are receiving this because you authored the thread.
Reply

[2016-05-21 01:49] #117 closed

[2016-05-22 03:35] jpfeltracco commented on #184
Nice! I'll try getting software on it to do some testing on Tuesday!

[2016-05-22 03:52] #542 closed

[2016-05-22 03:54] justbuchanan opened #676 "Tune ball placement behaviors"
Ball placement works fairly well in the simulator, but will need some tuning in order to work with actual robots.  It could also use a little tuning to be more effective in the simulator.  See PR https://github.com/RoboJackets/robocup-software/pull/651

[2016-05-23 00:51] justbuchanan commented on #672
@jjones646 as of 293404dbee39, I think I have this all working!  You can see the commits for the full changes, but the highlights (that I remember) are:

* In `getData()`, I added an RX fifo flush if the radio says that no data is available
* In `CommLink.rxThread()`, the interrupt in is now registered *before* it waits for the call to ready().
* interrupt line is falling-edge triggered.  We've tr

[2016-05-23 00:59] justbuchanan opened #677 "CC1201.getData() is called for both rx and tx"
It's really only intended to be called on RX.  We should either find a way to prevent it from being called in TX or update our method documentation a bit to clarify that it gets called for both.

cc @jjones646

[2016-05-23 01:24] justbuchanan commented on #672
Success!  The robot shows up and stays in soccer.

![2016-05-22-212101_1920x1080_scrot](https://cloud.githubusercontent.com/assets/115131/15458084/7904d5b4-2063-11e6-9daf-410ad526f790.png)

[2016-05-23 05:39] #278 closed

[2016-05-23 23:56] jjones646 commented on #677
I'm assuming this is related to when the interrupt pin config is set to `0x06`.

Linking the [radio doc](https://docs.google.com/document/d/1oop82J2OscGVAEYbQcU4IoGHz5mU44n06LuA0Ib1iaU/edit) for more reference to this issue.

[2016-05-24 00:09] jjones646 commented on #672
:clap:

Awesome! :+1: This is with the interrupt pin being configured with `0x06`?

I can't believe we overlooked something like this for so long. Now that you've pointed it out, everything is starting to make some kind of sense!

[2016-05-24 05:48] justbuchanan commented on #677
Yeah we're set to 0x06, it might be worth messing around with trying the CRC_OK signal or the other similar one.

[2016-05-24 05:55] justbuchanan commented on #672
Yep, it's at `0x06`, it may need to change though (#677).

Yeah in hindsight it should have been obvious...  Glad it's finally fixed though, we should be able to move onto more fun stuff now!

[2016-05-25 03:39] justbuchanan opened #681 "Motors burn if duty cycle abruptly drops from ~350+ to 0"
@jjones646 and I ran fb9365568fbb4e1df6694579ed51281015bc974c and had a motor burn out :fire:.  We suspect that the cause was that the motor was spinning very fast (duty cycle ~350), then we rebooted the mbed, causing the fpga's watchdog to timeout and set the duty cycle to zero.  The motor stopped very quickly and started smoking.

[2016-05-25 06:18] jjones646 commented on #681
I think the bulk of this is fixed in d97f29b. Still not 100% confident about all of it, but it should be something in the right direction.

[2016-05-25 19:28] jjones646 commented on #671
I vote to reverse the "screensaver" back to something simple. Something that doesn't need the timing requirements that is used now.

[2016-05-27 02:23] #240 closed

[2016-05-27 03:13] justbuchanan opened #683 "Remove 30Hz rate-limiting in USBRadio"
Our system currently doesn't handle 60Hz radio transmissions, so it's rate-limited.  This needs to be fixed.

See #678

[2016-05-27 03:16] justbuchanan opened #684 "Use serial silicon id chip for radio uid"
Right now the robot's uid is hard-coded to `2` in `main.cpp`.

[2016-05-27 03:17] justbuchanan opened #685 "Test radios with more than one robot"
It works for one robot and the base station, but hasn't been tried yet with multiple robots.

[2016-05-27 03:20] justbuchanan opened #686 "mbed crashes & reboots periodically"
It might be that it's running out of memory, but we're not quite sure.

cc @jjones646

[2016-05-27 03:20] #672 closed

[2016-05-27 03:20] #677 closed

[2016-05-27 21:56] jjones646 commented on #686
Almost certainly a memory issue. I've been running everything through soccer for 15+ min now using ca04d6f, and it's been doing great.

[2016-05-28 00:53] danbudanov commented on #184
Great! What can I do to help? Are we having any issues with the kicker?

[2016-05-28 22:01] justbuchanan commented on #671
Sounds good.  How about just blinking one of the mbed's on-board LEDs?

[2016-05-28 22:07] justbuchanan commented on #184
I just put you on here b/c GitHub added a feature to allow for multiple assignees and you were working on this before :).  I think this is mostly good unless @jpfeltracco needs you to work on anything.

[2016-05-28 22:08] #584 closed

[2016-05-29 03:11] #645 closed

[2016-05-29 03:11] #644 closed

[2016-05-29 03:52] justbuchanan commented on #619
Initial work for this is on the [justin/robot-pid branch](https://github.com/RoboJackets/robocup-software/tree/justin/robot-pid).

[2016-05-29 04:36] jjones646 opened #690 "Prevent the motors from being powered if the battery is critically low"
Should be pretty easy to add this, but it just hasn't happened yet.

[2016-05-29 05:00] jjones646 commented on #686
This line in Console.cpp definitely isn't helping the issue...

[code]

This seems to be heap allocation.

[2016-05-29 05:04] jjones646 commented on #686
Another thing to note is that `_rxBuffer` is a `std::string` object. And it looks like under allocation is fine since all additions use `_rxBuffer.push_back`. So a reservation of 10 or 15 is more reasonable.

[2016-05-29 14:19] jjones646 opened #691 "Robot does not show sometimes in Soccer"
So here's when it happens:

Soccer is running, robot is on, and the manual id is selected for controlling with the joystick. Everything is in a working condition, and you can see the robot in Soccer. Now, unplug and plug back in the base station. The robot won't show up in the GUI, but you can still control it.

[2016-06-01 02:54] #506 closed

[2016-06-05 23:33] #641 closed

[2016-06-05 23:33] #681 closed

[2016-06-06 00:12] #634 closed

[2016-06-06 00:13] justbuchanan commented on #289
Closed by #689

[2016-06-06 00:13] #289 closed

[2016-06-06 02:04] justbuchanan opened #694 "Fix verilog errors"
The verilog synthesis check on circle is failing.  Here's the relevant bit from the logs:

[code]

[2016-06-06 04:26] #446 closed

[2016-06-08 10:02] #694 closed

[2016-06-09 03:21] justbuchanan opened #696 "Build not working on 14.04"
It looks like an issue with the gcc package for firmware.  I created the `justin/ci-test` branch to track down the issue - it's the same as master except with an extra line appended to `ubuntu-setup` to trigger a rebuild of the CI image.  Here's the error:

[code]

[2016-06-09 03:53] jgkamat commented on #696
I think terry guo has decided to exact his/her revenge :/

Their repo is now private. They pulled a leftpad on us.

[2016-06-09 04:01] justbuchanan commented on #696
Dammit Terry...  I guess we need to find a new repo :package:

[2016-06-09 04:02] jgkamat commented on #696
In the interim, we can pull the one in the debian repos :wink:

I'll see if that works, give me a sec

[2016-06-09 05:09] jgkamat commented on #696
Hmm, it seemed to complain about missing files (even though the headers actually exist). I think this is because I'm mixing trusty/yakkety dependencies. I'll try again properly sometime tomorrow.

[2016-06-09 05:16] justbuchanan commented on #696
Ok sounds good.  Thanks for looking into this!

[2016-06-09 22:43] jgkamat commented on #696
I think terry guo is a wizard and made a custom build that would work on 14.04, anything that I do dosen't seem to work 100%

I think the best course of action right now is to switch the CI to 16.04 (which builds at least the main build), since we need to do that later eventually. If anyone has the deb files that were distributed by terry guo, that would work too...

[2016-06-09 23:16] jgkamat commented on #696
https://github.com/RoboJackets/robocup-software/tree/jay/16.04: the 16.04 build works fine. Still would be nice to stay on 14.04 until after comp though

[2016-06-09 23:42] jjones646 commented on #611
@justbuchanan Hasn't this been fixed?

[2016-06-09 23:50] jjones646 commented on #324
related with #118 and #98

[2016-06-10 00:14] jjones646 commented on #612
seems to be fixed, this is however dependent on what's currently connected.

[2016-06-10 00:14] #612 closed

[2016-06-11 13:16] justbuchanan commented on #696
Haha yeah I messed around with some alternative gcc arm packages too and I can't get anything to work.

Switching to 16.04 is probably the easiest course of action since we're planning to do that after comp anyways.  It's fine by me if you want to go that route.

[2016-06-12 02:51] jgkamat commented on #696
Turns out the repo didnt get deleted, its just moved over here: https://launchpad.net/~team-gcc-arm-embedded/+archive/ubuntu/ppa

I'll add a PR to fix this hopefully.

[2016-06-12 03:31] jgkamat commented on #696
https://circle-artifacts.com/gh/RoboJackets/robocup-software/2204/artifacts/0/tmp/circle-artifacts.XWN3nrY/compile.txt

It seems like this newer version is causing the same errors I've been seeing. Any ideas? :/

[2016-06-12 14:37] justbuchanan commented on #696
Darn :/.  There's probably a way to fix it, but if the 16.04 version works fine, I'd just go with that.

[2016-06-12 21:58] jgkamat commented on #408
This is close enough for now. I'll take another look at it if we have time.

[2016-06-12 21:58] #408 closed

[2016-06-13 02:32] jgkamat commented on #369
I think I can do this. It seems that both indirect and direct kicks are handled by OurFreeKick (as far as I can tell). How would I check to see if we are doing an indirect kick or not?

[2016-06-13 07:56] justbuchanan opened #705 "Reverse dribbler motor direction in verilog"

[2016-06-13 08:06] #705 closed

[2016-06-13 21:18] justbuchanan opened #706 "make robot2015-gdb doesn't work"
Running it gives me the error below.  It seems like the pyocd-gdbserver program isn't working right and gdb times out trying to connect to it.  I tried upgrading to the latest version of pyocd, but it still doesn't work.

[code]

[2016-06-13 21:22] justbuchanan commented on #369
Sounds good.  I don't know all of the details offhand, but there's a section on indirect kicks in the rules that has the info: http://wiki.robocup.org/images/1/18/Small_Size_League_-_Rules_2016.pdf.

[2016-06-13 21:28] justbuchanan commented on #706
It may be related to this issue: https://github.com/mbedmicro/pyOCD/issues/241

Sometimes pyOCD errors out with "The device has no langid"

[2016-06-13 22:34] justbuchanan commented on #686
This file in the mbed repo has some info on stack sizes for the main thread and timer thread: https://github.com/mbedmicro/mbed/blob/master/libraries/doc/rtos.txt.

We would have to fork the mbed repo, but it may be worth looking into reducing both of those threads' sizes - main is definitely a lot bigger than it needs to be since most of our stuff happens in other threads.

[2016-06-14 02:41] justbuchanan opened #708 "Dribbler won't start again after it stalls out"
When dribbling a ball, sometimes the dribbler gets stuck and won't start again.  Spinning the dribbler by hand can get it going again though.

[2016-06-14 06:26] justbuchanan commented on #686
Mostly fixed in #707

[2016-06-14 06:26] #686 closed

[2016-06-14 06:34] justbuchanan opened #709 "motorscroll command crashes with "HARD FAULT""
Sometimes it takes a while, sometimes it happens quickly.  It could have something to do with the Console thread's stack size.  The output looks something like this:

[code]

[2016-06-15 17:59] justbuchanan opened #710 "Log referee data"
Right now the [raw_referee](https://github.com/RoboJackets/robocup-software/blob/master/common/protobuf/LogFrame.proto#L91) field of the LogFrame is a `bytes` field, but it would be easier to use if it was an embedded protobuf mesage, similar to how we store vision data.

Also, the [simple_logger](https://github.com/RoboJackets/robocup-software/blob/09a5e6bddb1eb7aaa0a2bb8d920c972f3035f960/logging

[2016-06-15 18:20] ryanstrat commented on #710
If I change the bytes to a message, It'll break all previous log files again. Alternatively, I can add the message as a new field and we can have the parser see which one data is in.

[2016-06-15 18:47] justbuchanan commented on #710
Sounds good to me.  You can just put a comment next to that field noting that it's deprecated and add a new one for the protobuf.

I think the reason why that field is straight data rather than protobuf is because the legacy referee packets weren't protobuf.

[2016-06-16 02:12] justbuchanan commented on #583
closed by #707

[2016-06-16 02:12] #583 closed

[2016-06-16 02:44] jgkamat commented on #369
oh, I was asking about finding it more programmatically, do we have it in the c++ side somewhere yet? I would assume its sent to us from the ref.

[2016-06-16 03:00] justbuchanan commented on #369
Something like [this](https://github.com/robojackets/robocup-software/blob/master/soccer/GameState.hpp#L85)?

[2016-06-16 03:03] jgkamat commented on #369
Perfect, thanks!

I probably should have looked in that file before

[2016-06-16 03:32] justbuchanan opened #711 "Dot patterns in soccer's robot status pane are flipped?"
See the picture below - the green dot should be on the other side.

![2016-06-15-232646_327x132_scrot](https://cloud.githubusercontent.com/assets/115131/16104669/5ce72d4a-3351-11e6-91cd-9c02572e18f2.png)

[2016-06-16 03:34] justbuchanan opened #712 "LineUp play sends the robot off-field"
When running soccer with ssl-vision in the shop, the LineUp play tried to send the robot off of the side of the field.  See the picture below - the path's end is out of bounds.  Haven't looked into it too much yet.  Maybe something to do with the field geometry being wrong?

![2016-06-15-233018_1332x1034_scrot](https://cloud.githubusercontent.com/assets/115131/16104715/bbddcc1e-3351-11e6-8715-ff0b

[2016-06-16 07:11] justbuchanan commented on #671
I changed the strobing effect to a simple flasher on mbed's LED1.  It still stops after a minute or two and I can't find out why... The timeout is set to `osWaitForever`.

[2016-06-16 15:39] ryanstrat opened #713 "Seg Fault caused by Motor Status"
Not sure if related to #674.

Here's the stack trace from GDB.

[code]

This was running in the simulator. Just opened the sim and left it for several minutes. Didn't actually press any buttons yet.

Simulator was configured with 2008 robots.

[2016-06-16 16:39] jgkamat commented on #712
This might be related to the vision packet resizing I made? But those changes should show up in the window too.

I cant reproduce this in the simulator, is this on the real field?

[2016-06-16 16:42] jgkamat commented on #712
![snapshot2](https://cloud.githubusercontent.com/assets/4349709/16125006/7cdb785e-33a6-11e6-9e1d-23167b5ce9be.png)

The coordinates on your screen are the same as mine, so maybe the geometry resizing made the field smaller?

[2016-06-16 16:52] jgkamat commented on #712
If you comment out this line, does it work?
https://github.com/RoboJackets/robocup-software/blob/master/soccer/Processor.cpp#L305

I don't think theres a way to run the simulator on the same port as the vision (so I cant try a resize and then run the simulator)

[2016-06-16 18:03] ryanstrat commented on #710
There exists a complication with logging ref packets.

Best I can tell, we receive the ref packets in NewRefereeModule.cpp in the run() method, which is run async from the rest of the program.

A getPackets method exists, but it is not used. Instead, the changes to game state are pushed into the _state variable immediately upon arrival after parsing. The packet is then discarded.

Since the newly

[2016-06-16 20:18] justbuchanan commented on #710
I think option 2 you listed is probably the best.  It makes sense for the Processor to do the work there since it does a similar thing for the the VisionReciver.  One thing to keep in mind is that we really only care about the latest vision packet - anything other than the most recent one can be discarded even if it hasn't been processed yet.

[2016-06-16 20:23] ryanstrat commented on #710
Do we care about old Ref packets either?

Will it ever transition into and out of a game state in less than one control loop? I can't think so under normal conditions.

[2016-06-16 20:44] justbuchanan commented on #713
Interesting... I don't think I've seen this before.  I'll take a look at it.  Is there a way to reproduce this reliably?

[2016-06-16 20:46] ryanstrat commented on #713
I haven't gotten it to happen since, but I also haven't spent the time to
try. I was just lucky that I was debugging an unrelated segfault at the
time and was using gdb

Ryan Strat
ryan@str.at
(678) 517-3393
RoboJackets | President
Georgia Institute of Technology

On Thu, Jun 16, 2016 at 4:44 PM, Justin Buchanan <notifications@github.com>
wrote:

[2016-06-16 22:00] ryanstrat commented on #710
I've kinda found a hybrid way. We're still parsing the ref packets immediately upon arrival. The packet then goes into a vector, just like vision packets, and are logged in processor, just like vision packets.

[2016-06-16 22:04] justbuchanan commented on #710
Ok that sounds pretty good to me.  It is possible (although pretty unlikely) that it transitions through two states in one control loop, although I don't think it would really hurt anything if it did.  Everything should be setup to care about the current state, not where it transitioned from.

[2016-06-16 22:23] ryanstrat commented on #710
In case you're interested, We receive a ref packet on about 2/3rds of runs through the loop.

I think it's logging them, but I'm having trouble getting the data out. I'll pick it back up in the morning.

I went ahead and pushed what I  have so far in 34be196

[2016-06-17 01:48] #658 closed

[2016-06-17 02:59] justbuchanan commented on #684
I setup the hex selector for radio comm in 18b5410, which is now on master.  I think the serial silicon uid stuff probably won't happen for this comp.

[2016-06-17 03:53] chachmu opened #715 "Goalie rampages if ball is placed near the edge of the goal."
Sometimes if the ball is placed behind the defenders but in front or to the side of the goalie pathplanning or something related freaks out and the robots start driving randomly in loops. It seems like the easiest way to recreate this is by placing the ball just in front of the corner of the goal. It doesn't seem to be related entirely to the normal path planning because it happens during both mov

[2016-06-17 04:41] jgkamat commented on #715
Can reproduce this :+1:

Seems to be an issue whenever the goalie goes into the clear state
Maybe it thinks it can't be in the box (its a pivotkick) and tries to leave, while simultanoulsy trying to clear the ball? Thats my first guess.

[2016-06-17 21:34] jgkamat commented on #696
@ryanstrat needs 14.04 support, so i'm reopening this

[2016-06-17 23:17] jgkamat commented on #696
Going to start dumping things for myself here:
https://github.com/platformio/platformio/issues/301

[2016-06-18 20:31] jgkamat opened #719 "Coordinated_pass freezes occasionally"
When I run coordinated pass, it sometimes freezes, with the kicker kicking, but not actually moving towards the ball (without contact). I don't know if this is an issue in path planning/motion control or not.

If I nudge the robot towards the ball, it kicks it just fine.

![snapshot3](https://cloud.githubusercontent.com/assets/4349709/16173547/e9dd9e24-3558-11e6-94b8-cceae68cf354.png)

[2016-06-19 00:11] chachmu commented on #719
I'm guessing that's path planning because I have been having that same issue for a while with multiple different plays.

[2016-06-19 02:41] jjones646 opened #721 "Document the hardware features"
Need to add some info about what the hardware can do. Unimplemented features and whatnot.

[2016-06-19 21:19] justbuchanan commented on #719
@ashaw596 can you look into this and see if it might be path-planning-related?

[2016-06-19 21:22] justbuchanan commented on #715
@ashaw596 any thoughts on this?

[2016-06-19 21:32] ashaw596 commented on #715
My first thought is I think it might have something to do with the interactions with the giant shoot obstacle that gets created during the pivot kick. It seems to cause constant replanning at the moment and lag everything out.

[2016-06-19 21:36] justbuchanan commented on #715
It's possible, but the shoot obstacle doesn't apply to the robot doing the kicking.  I wouldn't think it would have an effect on the goalie in this case.

[2016-06-19 21:38] ashaw596 commented on #719
Its probably cause, I removed the requirement to not lose contact with the ball during pivot kick. I'll work on it.

[2016-06-19 21:46] ashaw596 commented on #715
Well I guess I'm having some trouble reproducing it when I'm just running the goalie then. When I run the plays everything lags out so  I can't really tell whats going on. When I run just the goalie, I think I ignore obstacles during pivot right now so it sometimes hits the wall and gets a bit stuck. (and sometimes almost pivots the ball into the goal and gets stuck) but I don't really see the cir

[2016-06-20 01:29] ashaw596 commented on #719
I couldn't really get reproduce the bug on my computer, but I changed aim to fumble if it loses contact again. It should fix it (theoretically) and doesn't seem to cause much issues.

[2016-06-20 14:18] ryanstrat opened #724 "Update Simple-Logger to Save New Referee Data"
The simple-logger program still records data by reading in the legacy referee data from the network.

The simple logger should store the newer protocol buffer based referee data.

It would also be nice to pull ball and robot information out of the vision packets to fit into the other fields of LogFrame protobuf so the logs are more similar to soccer logs.

[2016-06-20 17:57] #719 closed

[2016-06-20 17:58] justbuchanan commented on #715
I think when this happened before, it was when we ran the `TestDefense` play.  It took several tries to make it happen, but the goalie definitely went out of control - sort of a spiraling motion.

[2016-06-20 18:15] #696 closed

[2016-06-20 20:58] ryanstrat commented on #724
I'm also going to add the ability for the simple logger to log from the simulator via a -sim flag.

I can't test the output, if I can't receive vision packets.

[2016-06-21 14:20] ryanstrat commented on #724
The branch for this won't compile until I merge the changes in for updating soccer logging, as the protobuf file is different.

[2016-06-21 17:55] ryanstrat commented on #710
Closed with PR #717

[2016-06-21 17:55] #710 closed

[2016-06-21 18:30] ryanstrat commented on #724
Locally, I'm at a point where I'm logging ref packets and vision info from the simulator.

To develop this further, I want to parse the packets to fill the logFrames out like soccer does to make simple_logger logs compatible with the log_viewer and the log_converter.

I think I need to filter the vision data the same way soccer does it to account for camera overlap and such.

[2016-06-22 01:30] justbuchanan commented on #724
Hmm, I'm not entirely sure what the best thing is to do for the filtered vision data.  We have code that does that, but I don't know how easy it would be to use it in simple logger without copying a bunch of code from soccer or doing a decent amount of refactoring.

One option would be to just drop simple_logger entirely and just use soccer for logging.  Thoughts?

cc @barulicm

[2016-06-22 02:22] barulicm commented on #724
Logging with soccer is probably the easiest solution for near-term work. Best long-term solution would be to refactor to support code sharing between the two. I don't remember off the top of my head how difficult it would actually be to tear that part of soccer out into a separate library.

If we got any kind of algorithm working on our log data, it would be really cool to put together small boxes

[2016-06-22 02:51] #228 closed

[2016-06-22 13:46] ryanstrat commented on #724
The filters we run the data through seem pretty embedded into soccer. I agree that yanking it out would be ideal.

In the short term, perhaps we could add an -observe flag or something that makes it so Soccer won't try to control the robots on the field? I can test how easy that would be today.

It's also, in theory, possible to post-process log files to filter the data.

[2016-06-22 17:17] jgkamat opened #726 "Build not publishing artifacts when build fails."
I suspect this is because we fail during the dependency step, rather than the testing step (to take advantage of circleci caching). If they can't fix it for some reason, we'll carry the failure into the testing stage, and everything should work.

This is more of an announcement for anyone trying to get their build artifacts, than a true issue here.

[2016-06-22 17:24] jgkamat commented on #726
https://discuss.circleci.com/t/artifacts-not-being-published-if-a-failure-occurs-in-the-dependency-step/4745

[2016-06-22 17:58] ryanstrat commented on #724
After more study, it seems like the heavy lifting is done in /modeling, but it seems that over time, bits and pieces have been added on throughout soccer. Notably, the code to remove balls and robots on the excluded half of the field was placed in Processor.cpp (line 321 or so)

If we still need the ability to exclude half the field, which is set in the constructor of Processor, then we should ref

[2016-06-22 18:02] barulicm commented on #724
@ryanstrat removing half the field is still very useful when practicing at comp while sharing the field with another team

[2016-06-22 18:04] ryanstrat commented on #724
Right.

I'll see if I can refactor that somehow.

I also feel like that should be selected via the GUI rather than a constant in the code

[2016-06-22 18:05] barulicm commented on #724
You can change it in the menus of soccer

[2016-06-22 18:06] ryanstrat commented on #724
Oh, I see how it's set up.

[2016-06-22 18:06] ryanstrat commented on #724
As long as we don't need the filtering for the simple logger, then we should actually be fine.

[2016-06-22 20:04] ryanstrat commented on #724
Here's the plan for the ball. The plan for robots would look similar.

Create and instance of `BallTracker` and `SystemState` in simple_logger.cpp.

I'd create a vector of detectionFrames and translate it to meters and with `_worldToRobots`, just like in `Processor::runModels()`. I'd skip the code to filter out portions of the field as we're only interested in logging matches. I pass the vector of

[2016-06-22 23:22] justbuchanan commented on #724
To be honest, it may be easier to just use soccer for logging?  Is there any reason soccer won't work for what you want to do?  By default, soccer starts up with no plays selected to run and won't do anything other than log what it receives from vision/ref.

[2016-06-22 23:28] justbuchanan commented on #603
@ashaw596 any progress on this?

[2016-06-23 00:46] ashaw596 commented on #603
I mean it's a basic problem with our path planning system not being able to
plan into obstacles. I'm not sure what to do...

On Jun 22, 2016 4:28 PM, "Justin Buchanan" <notifications@github.com> wrote:

[2016-06-23 01:14] justbuchanan commented on #603
Right, I don't think that part's the issue.  It's fully expected that our robots get confused when they try to go for the ball when it's in their goal zone.  I think @jcarn had a problem where they were still confused after he removed the ball from the goal zone and placed it in a valid location.  Is that still an issue?

[2016-06-23 01:49] chachmu commented on #715
@ashaw596 I went ahead and used git bisect to try to find when the problem was introduce. The first time I did it I got that the issue was introduced in 84a40f5 which didn't really seem right, but after I tried again I got that the issue was in 022225 which also really doesn't make sense because that just merged master into the dynamic hit branch. Long story short, I can't really find exactly whic

[2016-06-23 02:11] ashaw596 commented on #715
Yeah, if you disable the localobstacle in kick, it doesn't happen. I know its a problem in that the path is getting invalidated constantly since we are planning into an "obstacle". Its introduced by that commit since it increased the amount of tries it plans. I'll work on it when I get a chance.

[2016-06-23 02:14] #711 closed

[2016-06-23 02:54] #578 closed

[2016-06-23 04:43] #726 closed

[2016-06-23 04:45] ashaw596 commented on #715
Ok, I "Fixed it". I had increased the number of times to retry pathplanning to 10 since dynamic obstacles can take another time. However, when the ball goes into the goal, the defenders try to get to the other side of the ball which now has a gigantic obstacle in the way so RRT planning fails. Apparently 20 failling maximum iteration Paths lags out soccer. I changed it to give up after one. We sho

[2016-06-23 04:45] #715 closed

[2016-06-23 05:45] ashaw596 commented on #603
Oh, I'll try to reproduce on my system, but I feel like the freezing bug was mostly fixed earlier in. https://github.com/RoboJackets/robocup-software/pull/673.

[2016-06-23 05:59] ashaw596 opened #736 "Compiler Error"
Are you guys getting these compiler errors? @justbuchanan @jgkamat
../logging/log_converter.cpp:194:13: error: variable 'yellowScore' is used uninitialized whenever 'if' condition is false [-Werror,-Wsometimes-uninitialized]
        if (currentFrame->raw_refbox_size() > 0) {
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
../logging/log_converter.cpp:213:21: note: uninitialized use occurs here

[2016-06-23 06:10] #736 closed

[2016-06-23 06:54] chachmu opened #738 "Statusbar is not updating"
the status bar is just stuck showing whatever the most recent error was, it never returns to a neutral state.

[2016-06-23 07:04] #738 closed

[2016-06-23 13:07] ryanstrat commented on #724
My main concern with soccer is that it will log extra debug data, which would not be applicable.

We could add a flag.

Long term, it would be nice to have a solution with fewer dependencies that requires less computing power. For this year, that will likely work.

[2016-06-23 17:25] justbuchanan opened #740 "Reduce buffer copies in radio stack"
Right now the packet is copied between a couple different buffers on both rx and tx.  I think we can just heap-allocate it and pass around a pointer, avoiding the copies.  This should speed things up a bit.

[2016-06-23 19:52] justbuchanan opened #743 "Soccer menu's radio channel is initially unselected"
It should have the 904 box checked, but neither one is.

[2016-06-23 20:01] #632 closed

[2016-06-23 21:41] #740 closed

[2016-06-23 22:25] #743 closed

[2016-06-23 22:26] #683 closed

[2016-06-23 22:27] justbuchanan opened #745 "Re-enable robot rx/tx LEDs"
I disabled them in https://github.com/RoboJackets/robocup-software/commit/e8d59dd8b9ea5e37d0d6e1b417e065dd4b80d5fd b/c something related to having too many timers seems to cause the mbed to crash and reboot.

[2016-06-24 00:50] chachmu opened #746 "Two side attack gets stuck in Receiving"
If you move the ball as it is in between the passer and receiver during the passing phase of two side attack the receiving bot sometimes gets stuck waiting for the ball for longer than it should, around a minute or two.

[2016-06-24 01:20] jjones646 opened #747 "make run fails on OS X"
Here's a log from one OS X computer, will post another one later.

https://transfer.sh/PALVC/make-run-osx.log

[2016-06-24 02:05] justbuchanan commented on #747
I think this was introduced in #717 and fixed in #737.  Try the latest master and see if this error goes away.

[2016-06-24 02:06] #747 closed

[2016-06-24 02:33] #746 closed

[2016-06-24 05:23] #590 closed

[2016-06-24 05:23] #608 closed

[2016-06-24 05:23] #397 closed

[2016-06-24 05:23] #184 closed

[2016-06-24 05:24] #685 closed

[2016-06-24 05:24] jjones646 commented on #611
watchdog timer takes care of this.

[2016-06-24 05:24] #611 closed

[2016-06-24 05:25] jjones646 commented on #684
next year

[2016-06-24 07:46] justbuchanan opened #750 "Fix ball sense (again)"
I thought I had it all working as of #698, but there's something wrong.  It may be hardware-related.

[2016-06-24 09:55] jjones646 commented on #750
Check the resistors on the opposite side of the pcb under the flex cable
headers. I slightly recall one maybe not being there.
On Jun 24, 2016 3:46 AM, "Justin Buchanan" <notifications@github.com> wrote:

I thought I had it all working as of #698
<https://github.com/RoboJackets/robocup-software/pull/698>, but there's
something wrong. It may be hardware-related.

—
You are receiving this because yo

[2016-06-25 00:34] justbuchanan commented on #750
After realizing that the emitter led was always on (not toggling as it should), we discovered that the corresponding line on the control board was connected to vcc...

[2016-06-25 05:57] #619 closed

[2016-06-25 05:57] #712 closed

[2016-06-25 08:09] #750 closed

[2016-06-25 09:08] justbuchanan opened #753 "Include motor status in robot reply packets"

[2016-06-25 10:43] justbuchanan commented on #753
Closed in 9979f0c32f6ece58c3af0eef442b57f4e1cd3cc2

[2016-06-25 10:43] #753 closed

[2016-06-29 01:09] justbuchanan commented on #691
Closed in e419fc4b801a13f129adb70b45f6d81c98f6957f and d982880ee8606dcd5720bf725abf829a37f19735

[2016-06-29 01:09] #691 closed

[2016-06-30 13:04] justbuchanan opened #754 "Soccer should look for the "logs" directory relative to the "run" directory"
Right now it looks relative the current _working directory_.  This is an issue because if you launch it with `./run/soccer` from the root of the repo, it looks for `./logs` which probably doesn't exist.  This is why we failed to log our first match at comp.

[2016-06-30 13:06] justbuchanan opened #755 "Restarting single robot behaviors isn't always the best thing to do"
In coordinated pass, if the receiver is temporarily assigned to a different robot (which happens occasionally), the receiver gets restarted, which messes up coordinated pass transitions, causing the pass to hang indefinitely.

Restarting a single robot behavior when a new robot is re-assigned is often the correct thing to do, but not always.  This needs some thought.

[2016-06-30 13:08] justbuchanan opened #756 "Coordinated pass's receiver should always look for a robot close to the receive point"
Relevant to #755.  The role requirements for the receiver's subbehaviors should be overridden to ensure that the assignment system looks for a robot close to the receive point, not the current ball position.

[2016-06-30 13:17] justbuchanan opened #757 "Robot labels in soccer are a little too big"
cc @ashaw596.

[2016-06-30 13:18] justbuchanan opened #758 "Field edge obstacles are too big during corner/free kick plays"
The obstacles we have make sense during normal play, but shouldn't apply when the kicker is setting up for a kick-in.

[2016-06-30 13:22] justbuchanan opened #759 "Simulator dribbler needs some work"
It's pretty far off from reality.  Especially when the robot rotates while dribbling the ball.

[2016-06-30 13:24] justbuchanan opened #760 "Config widget in soccer should have a wider first column"
The default size is too small, so it has to be dragged wider to see the config variable's name.

[2016-06-30 13:25] justbuchanan opened #761 "When using external ref, goalie id should be pulled from ref packet"
This will ensure that we're using the correct goalie that we told the referee we would use.

[2016-06-30 13:27] justbuchanan opened #762 "Allow all game-relevant parameters to be specified in soccer command line arguments"
This would allow us to auto-restart soccer if it crashes during a match.  Right now this isn't possible because some important things have to be configured in the gui.  Relevant to #761.

[2016-06-30 13:30] justbuchanan opened #763 "Defense should ignore shot obstacle during test plays"
This could be done with a fairly quick hack, but it would be nice to have a more flexible obstacle system so that this and other obstacles can be made to apply only to certain robots.  Somewhat relevant to #758.

[2016-06-30 13:46] justbuchanan opened #764 "Playbook load in soccer should show file chooser in the correct folder"
Right now it shows the root of the project, it should launch to `soccer/gameplay/playbooks`.

[2016-06-30 13:48] justbuchanan opened #765 "soccer's --noref flag should take effect immediately, not after gui, etc has launched"
As it is now, it responds to a few ref messages before turning off external ref.  This is a problem when we're connected to a network where someone else is running the referee.

[2016-06-30 13:50] justbuchanan opened #766 "Playbook load doesn't always work"
Steps to reproduce:
- In soccer/gameplay/plays, copy stopped.py to stopped2.py
- launch soccer
- delete stopped2.py
- load a playbook

The console will show an error about loading the stopped play and the playbook load won't take effect.

[2016-07-01 18:54] jgkamat commented on #757
:+1:, the bigger size is better but this is a bit too big.

[2016-07-02 06:11] jgkamat commented on #758
Turns out this is an issue with the ball obstacle instead during setup in combination with our old link kick. I think albert's line_kick patch

[2016-07-04 21:27] chachmu commented on #763
If we are fixing this we should probably also look into making the defense see the robot shooting at the goal as a danger. Currently our defenders do not mark the test robot during test plays so we can't see how well the play works against defense and vice versa.

[2016-07-04 21:32] guyfleeman opened #768 "Project Overhaul"
Split the repository!

- [ ] Common
 - [ ] migrate readme, contributing, etc to robocup-common from robocup-software
 - [x] migrate radio files to robocup-common from robocup-software
 - [x] migrate relevant administration labels to robocup-common from robocup-software
 - [x] migrate relevant administration issues to robocup-common from robocup-software
- [x] Firmware
 - [x] spearate the existing

[2016-07-04 21:40] ashaw596 opened #769 "Increase Code coverage"
Write more tests.
Write more documentation.

[2016-07-06 22:34] justbuchanan commented on #768
Keep in mind that splitting the repo does add some overhead when modifying shared components.  For example, if you modify something related to the radio protocol definition, you'll have to:
* commit in robocup-common
* submodule update and commit in robocup-software
* submodule update and commit in robocup-firmware

Whereas previously this would have just been one commit.  I'm not saying splitting

[2016-07-06 22:43] jgkamat commented on #768
Yah its going to be a bit harder to do these kind of things, but it will be way neater for the new guys (hopefully) without firmware getting in the way (unless we want it to).

I'm going to see if I can add submodule update hooks for checkouts, (since we've had that as a problem for a while), Since common is a submodule, we can commit it on firmware (or soccer), test it with the new changes, then

[2016-07-07 10:15] ashaw596 opened #770 "Implement full angle paths with motion/rotation constraints"
I've noticed that fast turning causes Pathing errors even in simulator, and this should be implemented eventually anyways to have accurate shooting and stuff.

Currently, PID is used to control angle on the soccer side with a target Angle or Location in MotionControl.cpp. I've already modified Paths and Pathplanner to have the capability to have angle information, but haven't implemented actual an

[2016-07-07 16:42] justbuchanan commented on #318
Done in #703

[2016-07-07 16:42] #318 closed

[2016-07-11 00:30] jgkamat opened #772 "Make soccer continue to run if goalie loses vision or is deselected"
Currently all robots halt in this case, which is unacceptable. This is only applicable when we are running defense.

[2016-07-11 14:04] ryanstrat opened #773 "Remove simple-logger"
Simple-logger should be deprecated in favor of the official [SSL-logtools](https://github.com/michael-bleier/ssl-logtools)

It currently isn't doing anything harmful except opening up the possibility of creating log files in yet another format.

[2016-07-11 22:33] chachmu commented on #772
Do the other robots stop if the goalie loses radio? I thought they did during comp but I could be wrong.

[2016-07-11 23:24] jgkamat commented on #772
yes, I'm fairly sure this is the case (the same effect as selecting a goalie that does not exist, its a failed role assignment loop)

[2016-07-12 00:34] chachmu commented on #772
Currently if there is no goalie selected the root play tries to assign the goalie to robot -1. This causes the role reqs system to error. I think part of the solution to this problem involves assigning an arbitrary goalie if the refbox is not sending a goalie id and soccer does not have a goalie selected. Should I just go ahead and make it so the goalie is set by:

1. Refbox packet
2. Soccer goali

[2016-07-12 00:56] jgkamat commented on #772
(3) is a bad idea, as we would get penalized if that happened during a game (maybe we lost the ref for a while). Instead for 3, soccer should just sit tight and wait (no goalie runs) until we get the id back.

If we did this, we would want to add an extra goalie textfield, so we can know which goalie soccer is actually assigning to.

Be sure to branch off of comp2016 if you do this though...

[2016-07-12 00:57] chachmu commented on #772
I could make it keep the same goalie id as previous if whatever value its being given is invalid.

[2016-07-12 00:59] jgkamat commented on #772
I still think 3 is a bad idea (we might not want a goalie sometimes, maybe only one testing robot). Instead it would be better to have the system be able to cope w/o a goalie.

[2016-07-12 00:59] chachmu commented on #772
Wouldn't you just use the handles goalie if you don't want a goalie?

[2016-07-12 01:02] jgkamat commented on #772
hmm, that toggles all of defense though...

I mainly don't like setting an arbitrary goalie because that's unpredictable (and we have to select a goalie at the start of a match).

[2016-07-12 01:04] chachmu commented on #772
Ok, I will look into it. I think I just figured out the problem.

[2016-07-12 01:10] chachmu commented on #772
So it turns out root play handles not having a goalie just fine, its defense.py that is causing all of the problems. I will see if I can easily make it handle not having a goalie.

[2016-07-12 01:13] jgkamat commented on #772
yup, its something to do with the role reqs in defense I think.

It was working last year (at the start of comp) and something broke it, I dont remember what.

If you are stuck for a while I would check check out the defense from before the china comp and see the diff

[2016-07-12 01:15] chachmu commented on #772
I found the issue, is there a way to make role assignments just not assign a robot? Currently defense.py requires having a subbehavior called "goalie" which then causes the role reqs to fail when it tries to get a robot with an invalid shell id.

[2016-07-12 01:17] jgkamat commented on #772
hmm, I'm not sure... Maybe you could set the priority to be really high but set required to false? I think that would work.

[2016-07-12 01:19] chachmu commented on #772
I don't think that would help because it would still try to check the shell id which is where it throws the error. I guess I will see if I can modify defense to not require the goalie subbehavior to exist.

[2016-07-12 01:21] jgkamat commented on #772
Another thing that might work is we could disable the goalie if we can't see the said robot shell (I think thats possible), or we could modify role requirements to ignore shell id's <0

[2016-07-12 01:23] chachmu commented on #772
If this doesn't work I will probably end up making role requirements just not assign a  robot if you ask for a shell id that is None.

[2016-07-12 01:23] jgkamat commented on #772
@justbuchanan  :cry:

[2016-07-12 01:35] chachmu commented on #772
Ok, so technically I have it working although the code seems a little hacky since its mostly a bunch of if(goalie exists): added in. I can push this so you can look at it but I think it might be better to change the way role requirements handles invalid shell ids. Currently it fails if you try to assign a robot number that is not connected so just having it ignore None wouldn't work if the goalie

[2016-07-12 02:16] chachmu commented on #761
In order to tell the root_play to assign the goalie id from the ref packet, the id needs to be passed from c++ to python somehow. Would it be better to put that in GameState or in SystemState? I would think GameState from what I have seen but I'm not really sure.

[2016-07-12 02:40] chachmu commented on #760
According to Matt, the default column widths with QT creator don't always work properly. I tried setting the default width of the columns to 200 which works inside the QT creator display, but when I actually compiled soccer it was the same as before. One alternative is to make the minimum size for the columns be 200 which works but now you can't shrink the Name column any smaller than that. The Na

[2016-07-12 02:43] chachmu commented on #760
As a side note, 175 seems like a nice width because it splits the widget exactly in half between Name and Value.

[2016-07-12 18:46] justbuchanan commented on #772
This may require a change to the role assignments system.  As is, if the goalie behavior is marked as `required`, the role assignment will fail if the robot with that shell id isn't available.  If you mark it as optional (`required=False`), it may assign the goalie robot to a different behavior because optional behaviors are assigned after required behaviors.  I'll think about it some more and let

[2016-07-12 23:44] chachmu commented on #772
I didn't change the goalie required flag to false so that has always been like that although it would probably be good to fix that. Should I try changing the role requirements system to see how that works before we decide which method to use?

[2016-07-13 00:27] chachmu commented on #772
I went ahead and tried changing role reqs to not assign robots to behaviors requiring an invalid shell id. If we make it so that python interprets no goalie assigned as shell id -1 like the c++ side does instead of None then it only takes like 3 lines changed to make it work.

[2016-07-13 00:35] chachmu commented on #761
Never mind, turns out the our referee number is stored in ourTeamInfo inside GameState

[2016-07-13 01:51] chachmu commented on #772
@justbuchanan @jgkamat I am doing some work to make the goalie get updated from the autoref that will probably get rolled in with this stuff too. I thought it might be a good idea to disable the goalie id selector and set it to the right id if you are using an external ref so there isn't any confusion. If I do that, any time we try to open simulator we would have to either have refbox open or unch

[2016-07-13 02:31] jgkamat commented on #772
Could we use the ref selector to override the goalie id selector in soccer? that would be the best way of doing this imo.

[2016-07-13 02:43] chachmu commented on #765
I think this problem can be resolved by somehow telling the constructor of MainWindow if we should use an external ref or not. This is somewhat difficult because it is called before processor is constructed so you can't pull the value from there. Is it ok to pass that as an argument of the constructor or are we trying to avoid that?

[2016-07-13 02:50] chachmu commented on #772
Thats what happens now although I have the goalie selector disabled when the external ref box is checked so its clear that you aren't the one setting that. I guess I could look into making it only gray out if the ref box is actually connected so that way if you start simulator without running refbox you can still choose the goalie yourself.

[2016-07-13 04:19] chachmu commented on #772
I went ahead and made a new branch with everything working where role reqs is modified instead of defense and it seems a lot cleaner. In order to let you guys take a look would it be better to make a new pull request alongside the old one or delete the old one first?

[2016-07-13 16:42] ryanstrat opened #776 "Play KickGently runs during Kickoff Prep"
Seems like it just needs to be removed from the playbook or altered to not run during kickoff prep.

This is on the Comp 2016 branch.

[2016-07-13 19:08] chachmu commented on #776
I can fix that, originally we were going to use this play for the match against the robobulls but it wasn't ready in time to test it so the behavior is still set to always run.

[2016-07-13 21:36] jgkamat commented on #776
iirc, the kick_gently play has a score == 0, and thats causing it. Changing the score to something other than zero should fix this for us?

[2016-07-13 22:21] chachmu commented on #776
We changed the score to that because we thought we were going to use only this play during that match.

[2016-07-14 01:02] chachmu commented on #776
@ryanstrat Ok so there definitely is a problem with kick_gently which I will fix but I'm not able to reproduce it running during kickoff prep. Which playbook are you loading?

[2016-07-14 02:22] chachmu opened #778 "Create a Competition Mode"
Would it be a good idea to make a mode for competition (maybe "make run-comp") that restarts itself if it crashes and maybe defaults to logging somewhere to keep us from forgetting to log? This would require the completion of #762 but it would help solve a lot of our issues with seg faults during competition or other problems.

[2016-07-14 02:31] jgkamat commented on #778
Once we have arguments that load playbooks and stuff like that, we can just add a target in the makefile with a bit of shell script that would do this for us. It shouldn't be too hard once the actual functionality is implemented.

[2016-07-14 02:33] guyfleeman commented on #778
Maybe some safety checking like external ref mode and behavior tree view. I know we forgot these sometimes at comp, and I don't think in the heat of the moment people will actually care about a checklist.

[2016-07-14 05:27] chachmu commented on #778
Behavior tree view and external ref are the default already so when soccer relaunches we wouldn't need to worry about that. The make command would need to take arguments for which side of the field to defend and maybe if we are blue or yellow. I know which team we are is supposed to be encoded in the ref packets but I'm not actually sure if that always gets set properly.

[2016-07-14 05:29] chachmu commented on #676
When I actually get around to doing this I will also try to make the play handle getting another stop command in a way that doesn't completely break everything.

[2016-07-14 14:54] ryanstrat commented on #776
I was just loading the default. I can capture some logs of it, if you'd like

[2016-07-14 14:56] ryanstrat commented on #778
The ref packets have team names and colors set 100% of the time at comp

[2016-07-14 19:28] jgkamat commented on #755
Could we just swap out the robot for a singleRobotBehavior without restarting it (if requested by the behavior, probably in its constructor). This is pretty important imo, especially for pass receives.

[2016-07-14 19:44] jgkamat commented on #757
https://github.com/RoboJackets/robocup-software/blob/master/soccer/FieldView.cpp#L512

[2016-07-16 19:18] jgkamat opened #780 "Create a virtualbox builder for robocup-software"
With the new recruits coming in in ~2 months, we need to start planning how we're going to onboard them. Since IGVC has had much better success by simply giving out vitualbox images, I'm going to create a virtualbox image builder for robocup-software (to at least provide that option for new recruits).

I'm going to use packer, since I've heard good things about it. I'm probably going to be using t

[2016-07-16 20:57] jgkamat opened #781 "Robots veer off course when turning and moving"
For an example, see this:
![snapshot4](https://files.gitter.im/RoboJackets/robocup-software/23Ag/snapshot4.png)

I'm not sure if this is a problem with the soccer PID or the per wheel PID, but I think its on the per wheel PID.

Soccer seems to send the correct velocities, but I'm not 100% sure.

[2016-07-16 22:10] justbuchanan commented on #781
Tuning the pid in soccer should fix this.  There's no per-wheel pid in the simulator.

[2016-07-16 22:13] chachmu commented on #780
Would we want to also have ssl-refbox and maybe QTCreator on the image so the new members won't have to worry about any software installation?

[2016-07-16 22:14] chachmu commented on #776
@ryanstrat I already fixed what was causing the issue on the comp2016 branch so it doesn't really matter.

[2016-07-16 22:56] jgkamat commented on #781
So then the issue that we saw at comp was just improperly tuned PID, I'm guessing. Hopefully this isn't a bigger issue than that.

[2016-07-16 23:04] jgkamat commented on #780
good idea! If you have any other peices of software that we should have, let me know. I'm adding a list of software I'll add in OP, let me know if you think of anything else!

Also, one of the downsides of offering this is that we won't be able to have the firmware demo unless enough people install ubuntu on physical hardware...

[2016-07-16 23:17] chachmu commented on #780
I have never tried but can't you mount usb devices straight to virtualbox?

[2016-07-16 23:31] jgkamat commented on #781
I don't think this is an issue with the PID.

I think the issue is that as we rotate at a higher speed, the rotation alters our sent commands (as our commands are sent in the robot's frame of reference), Since our rotation speed is increasing, we continue to accumulate errors even though the PID will try to compensate. I think we could fix this by predicting where the robot will face when the comm

[2016-07-16 23:33] jgkamat commented on #780
~~We tried it last semeseter, but windows/osx has to actually recognize the USB device in order for that to work. That means it will likeley work on a linux host, but not on a windows/osx host as they don't allow you to detect custom hardware.~~

Actually, the mbed just shows up as a flash drive, so I think we can do this. I'll include firmware just in case.

[2016-07-16 23:33] ashaw596 commented on #781
I tried that a bit and it didn't really help much (in Sim at least). I
think it's more a problem that in turning  cases the robot acts a bit more
like a car than the particle we model it as.

On Jul 16, 2016 4:31 PM, "Jay Kamat" <notifications@github.com> wrote:

[2016-07-16 23:48] ashaw596 commented on #781
Could also just be a Sim thing. We could test the robot itself by driving
forward and then switch to turning in place. Ideally it should slow down in
a straight line even if it's turning(though wheel momentum might be an a
issue). If it slows down while turning in a circle, it could be pid not
controlling the wheels well,  pid overcompensating, or our particle model
is weird with the wheels(would

[2016-07-22 01:02] chachmu commented on #754
This also seems to apply to the option to create a log folder under debug, I think it uses the same variable though so changing that should fix it.

[2016-07-23 21:46] jgkamat commented on #780
This will continue here: https://github.com/RoboJackets/robocup-images

This issue will still track it's creation.

[2016-07-26 23:09] chachmu commented on #755
We could give behaviors a bool that would determine if they should restart on being transferred to a different robot then just check it to see if we should restart here in [SingleRobotCompositeBehavior](https://github.com/RoboJackets/robocup-software/blob/c89da1b7f75e8b28e0aee0cff80630db115ba02b/soccer/gameplay/single_robot_composite_behavior.py#L58).

[2016-07-27 04:56] jgkamat commented on #780
First sample virtualbox file is here: https://transfer.sh/t66bB/robocup-f209e275.zip

I'll keep working on it sometime next week.

[2016-07-28 00:25] chachmu commented on #780
@jgkamat To confirm that I'm doing this right, I can just stick the .vdk in the SATA for a preexisting ubuntu virtualbox machine and start it up right?

[2016-07-28 00:45] jgkamat commented on #780
user: vagrant, password: vagrant

You can use file->import appliance to import the app, but swapping in the vdk file should be fine too (but more work)

[2016-07-28 00:59] chachmu commented on #780
@jgkamat The username and password worked although it just started up a terminal, there is no gui. I went ahead and tried to build robocup but it errored saying that the file system is read-only.

[2016-07-28 01:00] jgkamat commented on #780
try using the file-> import appliance. Maybe it's designed to be imported, not used directly? There is a gui though.

[2016-07-28 01:03] chachmu commented on #780
@jgkamat Ok, I will give that a shot

[2016-07-28 01:07] chachmu commented on #780
@jgkamat That worked although you might want to increase your video memory some. My computer won't even let me make it fullscreen unless I triple it.

[2016-07-28 01:09] jgkamat commented on #780
Yah, I don't think you can set that before you import (all though I'll try). That will be one of the steps in my import guide if I cant do that. Bump it all the way up (128mb), as well as more ram and more cores.

Also disable the desktop server thing, that was causing issues for me (although Idk why its on).

[2016-07-28 01:12] chachmu commented on #780
@jgkamat If it can't be set beforehand then thats fine. Maybe also include instructions to add a disk drive to the vm so you can use virtualbox guestadditions? It's pretty helpful.

[2016-07-28 01:13] jgkamat commented on #780
Yes, this is a good idea!

If you find any real issues running it (or actually anything tbh) just make issues on the images repo so I can track them. IMO this is a good start (at least).

[2016-08-01 18:44] jgkamat opened #782 "CircleCI Style command no longer works"
This is because the curl url is now being redirected, we need to change the displayed `curl` command to actually resolve properly.

[2016-08-01 21:09] jgkamat commented on #782
changing `curl` to `wget -qO -` fixes this. I think everyone has wget installed, so we can probably just swap it out (unless someone figures out why curl isn't working with the redirect).

[2016-08-01 21:14] jgkamat commented on #782
On another note, the status tags might become impossible if circleci stops the redirects. We might want to look into a way of getting these URL's programatically.

[2016-08-02 06:05] #776 closed

[2016-08-02 06:05] #369 closed

[2016-08-03 15:15] jgkamat commented on #782
Style seems to be somewhat broken in general now too (checking more files than it needs to?)

I'll look into that as well.

[2016-08-03 17:51] justbuchanan commented on #782
Hmm, that's odd.  Do you think it's related to the new version of stylize that changed the `--diffbase` option?  I can look at it when I'm back at my computer later.

[2016-08-03 17:53] jgkamat commented on #782
I messed around with it and your diffbase seems to work (on my machine, in this scenario). I think that this is an option with the setup,

Don't look into it, I'll let you know if its an issue with stylize.

[2016-08-04 04:53] jgkamat commented on #782
@justbuchanan that particular issue was that I merged an old version of master, everything was working correctly on your end :smile:

I also looked at the `merge-base` docs, and it's EXACTLY what we want! =)

[2016-08-07 02:03] #782 closed

[2016-08-21 15:09] #760 closed

[2016-08-21 15:19] jgkamat commented on #768
This is mostly done, barring readme changes and issue migration. There are only issues labeled as 'firmware', so I think we can do this manually. @guyfleeman, are there more issues you wanted to migrate to robocup-firmware other than the ones labeled as firmware currently?

[2016-08-21 15:23] guyfleeman commented on #768
No just the firmware ones. I found this
https://github.com/google/github-issue-mover
if you want to avoid doing it manually but I'm not sure what features it has, like filtering by label.

[2016-08-21 19:06] jgkamat commented on #780
This seems like it's done, all tracking/issues can move to robocup-images.

[2016-08-21 19:06] #780 closed

[2016-08-29 03:24] jgkamat commented on #118
Issue moved to rj/rc-firmware

[2016-08-29 03:24] #118 closed

[2016-08-29 03:28] jgkamat commented on #154
Issue moved to rj/rc-firmware (see above link)

[2016-08-29 03:28] #154 closed

[2016-08-29 03:31] jgkamat commented on #316
Issue moved to rj/rc-firmware (see above link)

[2016-08-29 03:31] #316 closed

[2016-08-29 03:33] jgkamat commented on #324
Issue moved to rj/rc-firmware (see above link)

[2016-08-29 03:33] #324 closed

[2016-08-29 03:36] jgkamat commented on #398
Closed in favor of rj/robocup-firmware's overall doc issue. Docs should be set up there the same way they are set up here.

[2016-08-29 03:36] #398 closed

[2016-08-29 03:37] jgkamat commented on #721
Closed in favor of rj/robocup-firmware's overall doc issue. Docs should be set up there the same way they are set up here.

[2016-08-29 03:37] #721 closed

[2016-08-29 03:40] jgkamat commented on #573
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 03:40] #573 closed

[2016-08-29 03:42] jgkamat commented on #493
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 03:42] #493 closed

[2016-08-29 03:43] jgkamat commented on #586
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 03:43] #586 closed

[2016-08-29 03:44] jgkamat commented on #606
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 03:44] #606 closed

[2016-08-29 03:47] jgkamat commented on #633
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 03:47] #633 closed

[2016-08-29 03:48] jgkamat commented on #670
Closing in favor of RoboJackets/robocup-software#1

Going to make a new issue to migrate those pages over though.

[2016-08-29 03:48] #670 closed

[2016-08-29 03:49] jpfeltracco opened #787 "CMake adding both -std=gnu++11 and std=c++14 when generating build.ninja."
(This is only happening on my Arch system as far as I can tell.)

Building soccer was failing, complaining about std::make_unique calls changed in #306. Since these were added in c++14, it appeared that on my machine the build was using c++11.

I grepped through the repo and only found references in the build/build.ninja (not a source controlled file) generated by cmake which was specifying both -

[2016-08-29 03:49] jgkamat opened #788 "Migrate Firwmare Overall Docs pages to the Firmware docs site"
Migrate https://robojackets.github.io/robocup-software/md_doc__robot_firmware2015.html

to https://robojackets.github.io/robocup-firmware/

[2016-08-29 03:53] jgkamat commented on #787
Its good that you got a chance to test out the arch build, I haven't had time to do it. It looks good to me, but I'm going to want to look a bit more into cmake docs before I :+1:. Thanks for doing the work though :smile:

Could you open a PR from that branch into master, and we can continue the talk there?

[2016-08-29 03:55] jpfeltracco commented on #787
Yup, I'll do that first thing tomorrow!

On Sun, Aug 28, 2016, 11:53 PM Jay Kamat <notifications@github.com> wrote:

[2016-08-29 03:56] jgkamat commented on #671
Closed in favor of rj/robocup-firmware's issue, linked above (assuming this wasn't fixed at comp, if it was, feel free to close the linked issue).

[2016-08-29 03:56] #671 closed

[2016-08-29 03:58] jgkamat commented on #684
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 03:58] #684 closed

[2016-08-29 04:01] jgkamat commented on #706
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 04:01] #706 closed

[2016-08-29 04:02] jgkamat commented on #690
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 04:02] #690 closed

[2016-08-29 04:04] jgkamat commented on #708
Closed in favor of rj/robocup-firmware's issue, linked above.

I don't think this is a software issue at all, but just in case it's firmware, it's getting migrated to there.

[2016-08-29 04:04] #708 closed

[2016-08-29 04:05] jgkamat commented on #709
Closed in favor of rj/robocup-firmware's issue, linked above.

[2016-08-29 04:05] #709 closed

[2016-08-29 04:07] jgkamat commented on #745
Closed in favor of rj/robocup-firmware's issue, linked above. This is probably already fixed, if so, close the firmware issue or let me know.

[2016-08-29 04:07] #745 closed

[2016-08-29 04:09] jgkamat commented on #768
Issues labeled as firmware have been moved for the most part. I left all the issues related to the radio protocol here though. In the future, I think we should either keep radio issues here, and break off significant firmware problems in rc-firmware.

[2016-08-30 04:14] jpfeltracco commented on #593
I've looked at this too and tried setting the boost include directory as a system directory, documentation [here](https://cmake.org/cmake/help/v3.0/command/include_directories.html) so that warnings would hopefully get ignored but it didn't work. I messed around with some flags to suppress deprecation warnings as well to no avail.

A bit of searching has come up with many complaints on other peopl

[2016-08-30 04:26] jgkamat commented on #593
So this is kind of an interesting issue because I can repoduce it on arch, but I have never been able to reproduce it on debian. ([debian is on boost 1.61 btw](https://packages.debian.org/stretch/libboost-all-dev), but I didn't see this previously either). I want to keep this open until we can confirm that 1.61 indeed fixes it for arch users (I hope it will, it should get promoted soon).

Even if

[2016-08-30 12:41] jpfeltracco commented on #593
I just manually installed 1.61 from staging in Arch and I can confirm the boost warnings are gone.

I'm going to go ahead and close this, we can reopen if it crops back up.

[2016-08-30 12:41] #593 closed

[2016-08-30 13:44] jgkamat commented on #593
Cool, glad to know its finally fixed! :smile:

[2016-08-31 00:28] jpfeltracco commented on #640
I ran `make clean && make` on both Arch and Ubuntu 16.04 with 209e1105b98de70713596a2f9a0054c0497bda8f and wasn't able to replicate.

Can someone else try this out and confirm so we can close this?

[2016-08-31 00:42] jpfeltracco commented on #787
Here's the [related PR](https://github.com/RoboJackets/robocup-firmware/pull/20) in the firmware repo.

Both PR's should be good to go.

[2016-08-31 00:56] #787 closed

[2016-08-31 01:09] jpfeltracco commented on #773
Updated link the the new [SSL-logtools](https://github.com/RoboCup-SSL/ssl-logtools).

[2016-08-31 02:43] jgkamat commented on #640
The relevant bit of cmake was in the firmware cmake lists, I'll migrate this issue over to firmware, and close this one.

[2016-08-31 02:45] #640 closed

[2016-08-31 04:24] jpfeltracco commented on #764
[Relevant function](https://github.com/RoboJackets/robocup-software/blob/a10654f07fdf73f2951ae9a0081b865a23102880/soccer/gameplay/playbook.py#L7)

[Relevant call to function](https://github.com/RoboJackets/robocup-software/blob/a10654f07fdf73f2951ae9a0081b865a23102880/soccer/gameplay/main.py#L147)

[2016-08-31 04:41] jpfeltracco commented on #754
[Relevant Code](https://github.com/RoboJackets/robocup-software/blob/6d6947842789e90c67462b7fcbe8a21d8951764c/soccer/main.cpp#L157)

[2016-08-31 05:07] jgkamat commented on #768
almost done, need to make a readme for common, as well as work on the docs site for firmware.

[2016-08-31 22:31] jpfeltracco commented on #768
I know we have "split and migrate the firmware packages" listed as checked off, but right now there is no difference between the arch-packages.txt in both repos (aside from me adding SDL2 to robocup-software's list), do we need a new issue for that?

[2016-09-01 00:02] jgkamat commented on #768
I've split the ubuntu packages, but I'm hesitant on splitting the arch ones, as I might remove something important...

I'd rather just keep everything, as we don't have many arch people, but I could comb through it and try to get that down...

[2016-09-01 12:39] jpfeltracco commented on #768
Yeah, that would probably just be wasted effort, I doubt someone in Electrical is really going to be running Arch and only want to build firmware and not install packages for soccer. We can probably just clean up as we go along and not worry about it too much.

[2016-09-07 15:51] jpfeltracco commented on #674
Steps to replicate:
1. Run soccer
2. Make sandwich
3. Watch soccer consume all ram

![image](https://cloud.githubusercontent.com/assets/8744813/18318565/24c9980e-74f0-11e6-9827-6da4bf194536.png)

I think the segfault is just from PyQt trying to access memory once we run out. It's probably our fault, not PyQt's.

[This](http://downloadmoreram.com/) is clearly the best solution however plugging the

[2016-09-07 17:30] jgkamat commented on #674
Also, did you run plays while doing this? I was running basic122.

[2016-09-07 17:36] jpfeltracco commented on #674
I was running basic122 as well, but yeah, listed by process soccer was using like >80% of my ram.

[2016-09-07 17:38] jgkamat commented on #674
Yah, I'm seeing it now. I think there is a memory leak in soccer (unfortunatley) but I'm not sure if it's related to this pyqt segfault...

[2016-09-07 17:50] ashaw596 commented on #674
Yeah.... Our logs system eats ram continuously too. Probably a couple
memory looks too.

On Wed, Sep 7, 2016 at 1:38 PM, Jay Kamat <notifications@github.com> wrote:

[2016-09-07 18:00] jgkamat commented on #674
Running valgrind gives me this
[code]

Not sure if this is even in soccer :/

[2016-09-07 18:09] jpfeltracco commented on #674
Yeah, that output is very likely normal. http://stackoverflow.com/questions/1519276/is-it-normal-that-running-python-under-valgrind-shows-many-errors-with-memory

[2016-09-12 03:11] jgkamat commented on #788
Closed by RoboJackets/robocup-firmware@af54ca534d027913c7e30c21a7e655a1d67c76f2

[2016-09-12 03:11] #788 closed

[2016-09-12 03:18] jgkamat commented on #149
This would be nice to have (because getting all of our information on the docs site is a plus).

Here are some docs to move over:
(Root): https://wiki.robojackets.org/w/RoboCup
https://wiki.robojackets.org/w/RC14IMU
https://wiki.robojackets.org/w/RoboCup_Live_Robot_Execution
https://wiki.robojackets.org/w/RoboCup_Software

To move them over to the docs site, create a markdown file in the `docs` di

[2016-09-12 03:31] jgkamat commented on #175
@ashaw596 `albert/refactorPoint` seems to be gone now. Do you happen to still have a copy of it (or did you trash it intentionally?)

[2016-09-12 03:33] jgkamat commented on #778
Because of segfaults, this is a priority (implemented in some form, be it in c++ or in the makefile). Bumping priority up.

[2016-09-12 03:38] jgkamat commented on #360
Nope, this is still an issue. To reproduce, drag the ball off the field.

[2016-09-12 03:39] jgkamat commented on #265
Subissue of #336

[2016-09-12 14:04] jpfeltracco commented on #674
Here's another segfault, I'm just posting here for now until we decide to make a new issue or something for it.

[code]

[2016-09-12 17:38] ashaw596 commented on #175
I moved it to https://github.com/ashaw596/robocup-software/tree/albert/refactorPoint since it wasn't working well.

[2016-09-12 21:41] ashaw596 commented on #674
I'm looking at that and it happens alot less often so its hard to debug, but I think its because we need to add a Mutex lock to Robot->_radioRx so its getting corrupted when we copy and read it from different threads.

[2016-09-12 21:51] ashaw596 commented on #674
I implemented a small fix maybe in the albert/fixSeg2 . I think this race condition is so low probability that its rather hard to test.

[2016-09-12 22:35] ashaw596 commented on #674
Let me know if you guys get a chance to test those two fixes. I ran it for awhile until ubuntu killed it for taking too much memory on my vm.

[2016-09-13 00:26] jpfeltracco commented on #674
Just ran on albert/fixSeg2. This looks like the segfault Jay found earlier.
[code]

[2016-09-13 12:50] jpfeltracco commented on #674
I've been testing on master now for a couple hours and it seems that Albert's fixes have patched up all the segfaults I was seeing.

[2016-09-13 14:47] jgkamat commented on #674
I also want to note that albert said that the fix on fixSeg1 is more of a temporary fix, by running findChild only on setup, we can prevent segfaults that method runs into, but that method shouldn't ever cause a segfault (unless we're corrupting the qt window tree somehwere, by freeing something thats needed).

This may come back and get us later on, we should try to review the QT bits to see if t

[2016-09-13 14:50] jgkamat commented on #674
I'm going to close this issue in 2 months if no one replys back saying they are having any form of qt segfault issues. (we'll probably know pretty quick as all the freshman will be running software soon).

[2016-09-18 19:53] joshhting opened #794 "Investigate crash starting soccer after ssl-vision"
This happens when a half-size field is used, and you start ssl-vision first, and then start soccer.

[2016-09-18 20:02] joshhting opened #795 "Put the git commit hash in the window title"
Or somewhere where it can easily be found

[2016-09-18 20:35] #794 closed

[2016-09-22 05:14] jgkamat opened #796 "Protobuf Versioning Warnings"
On a newer version of protobuf (I think protobuf3) I'm getting a ton of warnings when compiling:

[code]

Probably it's an easy fix with the protobuf files. I think 16.04 isn't affected yet. This does not effect compilation.

[2016-09-22 05:16] jgkamat commented on #796
This is a possible candidate for an intro issue, moving to the intro project.

[2016-09-22 12:02] ashaw596 commented on #796
Um. Proto 2 and 3 is more like python 2 and 3.....

On Sep 22, 2016 1:16 AM, "Jay Kamat" <notifications@github.com> wrote:

[2016-09-22 12:05] ashaw596 commented on #796
Though with slightly better versioning for backwards compatibility.

On Sep 22, 2016 8:02 AM, "Albert" <ashaw596@gmail.com> wrote:

[2016-09-22 15:46] jgkamat commented on #796
I would rather keep the files on proto2 for now (as 14.04 probably dosen't have proto3). All that needs to be done for this issue is to squelch the warnings.

[2016-09-28 00:04] rachitk commented on #757
Did a bit of testing on my own and it seems that changing the numbers to (0.0131, -0.0131) makes the labels almost perfect (in my opinion). Didn't want to submit a pull request since you might be saving this for training; just a reference for anyone interested in fixing this.

[2016-09-28 00:23] jpfeltracco opened #798 "Can't copy debug behavior tree text."
It would be nice to be able to select and copy text from the debug behavior tree in soccer.

[2016-09-28 03:15] jgkamat commented on #757
@rachitk go ahead and submit the PR! If you need help with it, just email me/ ask on gitter/ or ask during training! Thanks for taking the initiative :smile:

[2016-09-28 04:14] jgkamat commented on #798
Got this one

[2016-09-29 03:20] #757 closed

[2016-09-29 18:32] jgkamat opened #802 "Solve Style Annoyances"
Currently, checkstyle does a bunch of annoying things, such as inlining one line functions in c++.

Please comment on other things you might want to change. I am in favor of bumping the line limit to 120 chars as well (I think the current line limit is way too short given widescreen monitors.)

Let's first decide what we wan't (thats the hard part) and then we can figure out how to do it in clang-

[2016-09-29 18:38] jgkamat commented on #802
Please add suggestions by commenting or editing the list, we'll check off these items if they have enough approval.

[2016-09-29 18:48] jpfeltracco commented on #802
:-1: On line limit change. 80 chars is perfect for side by side editing files which I depend upon.

[2016-09-29 20:12] jgkamat commented on #802
https://retracile.net/wiki/VimBreakIndent

While 80 characters is ok for side by side editing, it makes full screen editing super painful (while long lines can be wrapped, short lines cannot be dynamically unwrapped without something super complex).

This is what I see when working on something wrapped at about 80 llines...
![screenshot_20160929_160805](https://cloud.githubusercontent.com/assets/4

[2016-09-29 20:39] ashaw596 commented on #802
I'd support a 120 line limit!
80 makes many of our function calls so hard to parse.

On Sep 29, 2016 4:12 PM, "Jay Kamat" <notifications@github.com> wrote:

editing super painful (while long lines can be wrapped, short lines cannot
be dynamically unwrapped without something super complex).

(making it way easier to wrap long lines, as alignment won't be such a pain
for ultra long lines). We'll dis

[2016-09-29 20:52] jpfeltracco commented on #802
@ashaw596 What do you mean by "hard to parse?"

[2016-09-29 22:32] jgkamat commented on #802
Consider this example: https://github.com/RoboJackets/robocup-software/blob/master/soccer/gameplay/tactics/one_touch_pass.py#L55. I broke the rules with this one time and that line is 120 chars long

Here is my (trying to) format this to 80 chars. I've preserved the indentation in the file at that point (since python forces indentation)
[code]
This starts off great, with the first few function arg

[2016-09-30 02:52] jpfeltracco commented on #802
* Tabs are still widely used in the [linux kernel](https://www.kernel.org/doc/Documentation/CodingStyle) and they are defined as being 8 chars long so I'm not sure I really understand your point. This, along with the limit of 80 chars forces them to limit the amount of nesting we do, breaking things into separate functions as needed. IMO this probably isn't a bad thing and 80 chars clearly doesn't

[2016-09-30 05:01] jgkamat commented on #802
The reason why I mentioned tabs before is that every developer can change the size of their tabstops (which allows them to get more stuff on a single line, solving the problem). With this, developers with a small screen or splitting windows can set their tabstop size to 1, which gives more room. If you were working on a linux kernel with a ~100 line len with tabs, you could set the tabstop size to

[2016-09-30 16:47] jpfeltracco commented on #802
I've been browsing through our python code a bit and the fact that we need to indent twice (class level then function level) mixed with the fact that we have (fairly lengthy) function names that have to be preceeded with a `self` makes us already lose 16 columns before any real code has been written. Then we refer to fully qualified names which totally kills the rest of the space (`behavior.Behavi

[2016-09-30 20:22] jgkamat commented on #802
One option for fixing the long classnames is using the 'advanced?' import (I'm honestly not sure if what I'm saying is correct, since I guess and check with these but here goes:

Example: `tactics.coordinated_pass.CoordinatedPass.State.receiving`

[code]
Which (IMO) is way more readable. This only applies to python though, I don't know if we can do something like this in c++.

[2016-09-30 20:37] jpfeltracco commented on #802
Yeah, I like import aliasing (my made up term for it), and I think we should use it liberally, but we have to stay consistent about it through our python code base or I could see it getting a little annoying.

[2016-10-01 00:38] justbuchanan commented on #802
Unfortunately the imports of behaviors, etc have have to be full length in order for the auto-reloading system to work.

If you do something like `from skills.move import Move`, it essentially does `import skills.move; Move = skills.move.Move`.  Then later if you modify move.py and it gets auto-reloaded, your version of `Move` will be the old one.  If you use the long-form import, everything works

[2016-10-01 04:00] jgkamat commented on #802
@justbuchanan I've been having a few errors with the play reloading system (I think it's something weird with the way my editor saves, as talked about in the readme), so I'll look into messing with the play reloading system.

AFAIK, I think that the `from x import y as z` reloading will work as long as y is a python module (which means it won't work for the example above).

This, however, works:
[

[2016-10-01 23:20] justbuchanan commented on #802
Good find!  I didn't realize that the `import __ as __` syntax worked with reloading.  Being able to omit the long long import names throughout the plays and behaviors should help a good bit.

[2016-10-02 05:33] jgkamat commented on #796
This issue can be solved by adding:
[code]

to the top of every file in [this folder (in the common repo)](https://github.com/RoboJackets/robocup-common/tree/master/protobuf)

You'll either need to know a bit about how to commit inside a submodule or just clone the common repo seperately to work on this.

[2016-10-02 18:18] jgkamat commented on #676
Can this be closed or do we need another round of this? (I don't know if ball placement is a challenge again?)

[2016-10-02 18:20] jgkamat commented on #603
Is this referring to the `RRTPlanning Failed` messages in the terminal? I seem to be getting these pretty often...

[2016-10-02 18:22] jgkamat commented on #713
Not sure if this can be closed or not, can someone with more info on this topic comment on it?

[2016-10-02 18:23] jgkamat commented on #768
I'm going to call this done. *sigh*

Issues that come up will be deat with later.

[2016-10-02 18:23] #768 closed

[2016-10-02 18:26] jgkamat commented on #581
Moving this to wishlist, since we don't have a Mac OS Maintainer right now.

[2016-10-02 19:24] chachmu commented on #676
If we ever want to actually use this we will definitely need another round of tuning but if it doesn't come back up I doubt we would ever use it since the only way to activate it is to have both the external referee and the remote terminal open.

[2016-10-02 20:00] jgkamat commented on #802
We agreed at the meeting that we should stick to 80 chars for now, but mess with the formatter to stop it from messing with our code. For python, this is a good starting point:
`SPLIT_BEFORE_LOGICAL_OPERATOR`

[2016-10-02 20:05] jgkamat commented on #802
We will disallow inlining of functions in cpp files but continue to allow it in header files if the implementation is defined in the header file.

[2016-10-02 20:17] jgkamat opened #804 "Create Dark Theme for Soccer"
I really like dark themes. Bonus points if you use my dark theme.

[2016-10-03 14:49] jgkamat commented on #804
To do this, a theme switching interface/mecahnism must be made as well, as we want to keep the current theme as a default.

[2016-10-13 04:20] #795 closed

[2016-10-13 21:02] jgkamat commented on #557
I've started this [on this docs page](https://robojackets.github.io/robocup-software/md_doc_Style.html). Let me know if you want to help, or just submit a PR.

[2016-10-13 21:09] jgkamat commented on #336
If anyone is interested in learning CMake, this would be a good issue to tackle.

[these are the docs page](https://cmake.org/Wiki/CMake:CPackPackageGenerators#DEB_.28UNIX_only.29) for creating deb files via cmake. You might need to do a little more looking up than just that though.

[2016-10-16 18:52] jgkamat opened #807 "Fix Joystick Control on Soccer"
Sometime during the merge I screwed up the joystick control drivers.

Last known good version is 1055fac355

[2016-10-17 01:49] jgkamat commented on #807
I think the offending commit is 9e18e96a

We want the comments from there, I'll be picking the changes we need

[2016-10-23 18:25] jpfeltracco commented on #770
These pathing errors show up in our simulator when running the `RepeatedTurningLineUp` play where the robots completely diverge from their paths because they are attempting to rotate while at full velocity.

This divergence can be minimized by capping the angular velocity by
[code]
Where C is some constant (0.9 seemed to work okay). This essentially prevents the robots from rotating while at max v

[2016-10-24 21:23] ashaw596 commented on #770
Nice!

[2016-10-30 18:37] jgkamat opened #809 "Can't bind to shared vision port"
Starting soccer after vision causes this error: `Can't bind to shared vision port`.

This is caused because of:
1. vision binding the port
2. https://bugreports.qt.io/browse/QTBUG-33419

[2016-10-30 18:40] jgkamat commented on #809
Since that bug report has basically no activity, the easiest solution would be to switch to a different UDP library.

[2016-11-01 01:09] #807 closed

[2016-11-01 01:10] jgkamat commented on #809
The easiest way to get around this  (I think) would be to switch our udp packet receiver to use the boost library rather than QT. I (hope) the boost library is better maintained and would work well.

[here is an example of this](http://www.boost.org/doc/libs/1_37_0/doc/html/boost_asio/example/multicast/receiver.cpp). Shouldn't be too hard, between our current implementation and the example.

[2016-11-01 13:27] jpfeltracco commented on #809
We should try adding the "QUdpSocket::ReuseAddressHint" flag as well to soccer's bind. Docs are here http://doc.qt.io/qt-4.8/qudpsocket.html

[2016-11-01 14:44] jgkamat commented on #809
Yah we tried that already, with no effect. That flag only helps on windows, for unixes, the ShareAddress flag we have should do everything (and did work properly before).: https://doc.qt.io/qt-4.8/qudpsocket.html#BindFlag-enum

[2016-11-01 17:48] jpfeltracco commented on #809
Ah okay, that's weird!

[2016-11-04 13:10] jgkamat commented on #809
I think qt 5.6 solves this issue, but 16.04 is on qt 5.5. *Sigh*

![screenshot_20161104_090930](https://cloud.githubusercontent.com/assets/4349709/20006565/742d8ac6-a26e-11e6-8e62-f408d9d08171.png)

[2016-11-04 14:52] jpfeltracco commented on #809
Time to add all the PPAs!

[2016-11-09 05:22] ashaw596 opened #813 "Refactor Motion and Angular Command classes to use boost::variant."
It'll simplify the code and design alot.

[2016-11-09 20:22] jgkamat commented on #807
I need to never loose this link:
https://github.com/gabomdq/SDL_GameControllerDB/blob/master/gamecontrollerdb.txt

[2016-11-12 22:48] jgkamat opened #816 "Build warning in USBRadio.cpp"
We're getting a build warning in this file:

[code]

[2016-11-13 16:11] #674 closed

[2016-11-13 17:13] jgkamat commented on #816
This can be solved by casting the sizeof  [on this line](https://github.com/RoboJackets/robocup-software/blob/8ce98173ff4a9b7a02d8f1ca09fd49ccfe806eff/soccer/radio/USBRadio.cpp#L237) to an int.

[2016-11-13 18:51] jgkamat opened #817 "Fix Delta V on graph"
On the Delta V chart graph, the graph reports +- infinity and/or NaN instead of true values.

[2016-11-13 21:07] #816 closed

[2016-11-14 23:45] jgkamat commented on #781
@jpfeltracco found out that this is an issue with us limiting our speed. We don't take rotation into account when driving, so when we rotate and drive, wheels at the top can't drive fast enough and we swerve.

[2016-11-20 18:56] JNeiger opened #822 "New Offensive Play - Adaptive Formation"
Adaptive Formation allows for multiple robots on offense to move from defense into a more offensive setup.

On the offensive side, passing will find the best position to receive in based on "space", location on the field, shot chance, and a few other things.

On defense, I'm thinking of adding more a zone style defense for robots further away from the ball while producing a heavier marking style d

[2016-11-24 16:01] jpfeltracco commented on #770
[This Issue is related](https://github.com/RoboJackets/robocup-software/issues/781).

So my rough idea for solving this is:
1. Add a max wheel speed constant.
2. Run the paths through an angle planning function after [here](https://github.com/RoboJackets/robocup-software/blob/master/soccer/planning/IndependentMultiRobotPathPlanner.cpp#L78)
3. The function would first pick an ideal angle rotation s

[2016-11-27 22:06] jgkamat commented on #754
Currently, the makefile cd's inside the run folder before running soccer when using `make run`, so anyone working on this, just change the logs dir in the two places in the referenced code, and test it out by manually running `./run/soccer`. I'll add the makefile changes once a PR is made, unless the assignee wants to stab at that too.

[2016-11-27 22:33] jgkamat commented on #764
So the reference above is for the actual loading of the file, for the file chooser you will need to look at [this bit of code](https://github.com/RoboJackets/robocup-software/blob/6ea6cf696dd5ecd7caca044bee93a308cea32e5c/soccer/MainWindow.cpp#L1203). However, this already works when running soccer from the run directory. See #754 as well.

I think all paths should be relative to the root of robocu

[2016-11-27 22:45] jgkamat opened #824 "Team Labels in Soccer shouldn't have brackets."
Currently, team labels in soccer say `<Yellow Team>` or `<Blue Team>`.

These labels shouldn't have brackets, but should be bold or underlined.

[See this snippet for where to change teamnames](https://github.com/RoboJackets/robocup-software/blob/6ea6cf696dd5ecd7caca044bee93a308cea32e5c/soccer/MainWindow.cpp#L432). This field accepts HTML tags to make it bold/underlined. Tweak it until it looks ni

[2016-11-27 22:52] jgkamat opened #825 "'Red Cards' label in UI stylesheet seems to be hardcoded for ubuntu"
It looks kind of wrong right now:

![screenshot_20161127_175027](https://cloud.githubusercontent.com/assets/4349709/20652589/fe06fa62-b4c9-11e6-950d-6c183efd5196.png)

You could fix this in qtcreator, but it's honestly easier to edit this file by hand instead.

[This is the bad section of the ui file](https://github.com/RoboJackets/robocup-software/blob/6ea6cf696dd5ecd7caca044bee93a308cea32e5c/soc

[2016-11-27 23:00] jgkamat opened #826 "Default Playbooks should include all restart plays"
Right now, we have a playbook load/save sytem, which can be activated with the buttons above the plays dialouge.

We load [this file by default](https://github.com/RoboJackets/robocup-software/blob/master/soccer/gameplay/playbooks/example.pbk).

This file should be modified to add all the plays under restarts. You can do this by editing the file by hand, or by checking all the plays, and saving to

[2016-11-27 23:06] jgkamat opened #827 "Document Keyboard Shortcuts for Soccer"
See https://github.com/RoboJackets/robocup-software/pull/811 for new keyboard shortcuts.

To create a new docs page, create a md file under [the doc folder](https://github.com/RoboJackets/robocup-software/tree/master/doc) (you can copy existing ones there for a template), and add keyboard shortcuts in a markdown table. [This is an example of a markdown table you can copy from](https://github.com/R

[2016-11-27 23:23] jgkamat opened #828 "Python complaining about double initialized methods"
[code]
appears when running soccer.

This can be solved by [removing all instances of register_ptr_to_python in this file](https://github.com/RoboJackets/robocup-software/blob/4da80ab54496394212a0a618ff58ad10642a92cf/soccer/gameplay/robocup-py.cpp#L655).

Right now I can't see any problems when we do this, but whoever's trying this should try and see if they can break any python stuff we have.

As

[2016-11-27 23:36] jgkamat opened #829 "Hall Faults should be renamed to Motor Faults"
We have a robot status panel on the left that shows us info about robot problems.

![screenshot_20161127_183415](https://cloud.githubusercontent.com/assets/4349709/20652865/1febfbcc-b4d0-11e6-9a41-7f8a43eb21d6.png)

Hall faults shouldn't be displayed as hall faults (@jjones646 says so, and it's more obvious anyway), but rather just generic motor faults.

[This is the critical section of code that

[2016-11-28 00:16] jgkamat opened #830 "Repeated line up shoud provide an easy way to traverse only part of the field"
Repeated line up currently traverses the entire field, whcih is what we want by default.

However, during tuning, we may want to insert a buffer, to limit how far we command the robots to go, so if there is a problem, we won't bump into the walls.

[This should be easily achevable by changing the calls to gen_line here to decimal values](https://github.com/RoboJackets/robocup-software/blob/8aa13ff

[2016-11-28 00:34] jgkamat opened #831 "Establish convention for referencing files"
Right now referencing files in soccer is a mixed bag, and I want to try to standardize it so we don't have issues.

Currently, the convention is to assume we are running from the `./run` directory, so to get perfect behavior you need to: `cd run && ./soccer`. The makefile does this automatically with `make run`.

Here are different schemes I can come up with. Feel free to add some more

1. Keep th

[2016-11-28 06:57] jgkamat commented on #804
This can be done by changing the [stylesheet](https://github.com/EClaesson/QTDark/blob/master/QTDark.stylesheet) that qt uses to display our app.

[2016-11-28 16:20] ashaw596 opened #832 "Create Configurable Points which can be used in testings and config plays"
Right now we have configurable constants which we use. This idea is to be able to set "Configurable points" on the config tab which basically contain X and Y poisitions, but can be set by clicking on the field. This could be generalizalble like our config system or just create like 4-8 set points like ConfigPoint1, ConfigPoint2, ConfigPoint3, and ConfigPoint4 which the plays can choose to use.

Ex

[2016-11-28 16:21] ashaw596 commented on #830
Relevant idea which I just remembered to create an issue for #832

[2016-11-28 16:53] justbuchanan commented on #832
Related to #425

[2016-11-28 17:03] ashaw596 commented on #832
Oh right! I could have sworn we had an issue, but I couldn't find it. That
ones better.

On Nov 28, 2016 11:53 AM, "Justin Buchanan" <notifications@github.com>
wrote:

[2016-11-28 19:56] jgkamat commented on #832
I really like this idea, although I don't know how hard it would be to implement (and whether it would be worth it).

[2016-11-29 23:40] petschekr commented on #824
I'll take this

[2016-11-29 23:41] rk1998 commented on #830
ill take this

[2016-11-29 23:41] Jason27chan commented on #828
got it

[2016-11-29 23:45] krispreza commented on #825
Ill take this.

[2016-11-29 23:45] EdwardTan20 commented on #825
so this file will be rewritten or replaced?

[2016-11-29 23:45] hchittanuru3 commented on #826
I got dis

[2016-11-29 23:47] EdwardTan20 commented on #829
I'll work on this

[2016-11-29 23:53] mszylkowski commented on #796
I'll take it

[2016-11-30 00:38] rachitk commented on #754
Just made a PR #835 to make the change requested. Not positive if it's the correct change or if it's fully complete yet, as `make run-sim` does not log properly with this change, likely due to makefile changes still needing to be made.

[2016-11-30 00:54] rachitk commented on #764
Made the change in #835 as requested; no changes have been made to makefile yet, so `make run` and the like now do not work while `./soccer/run` does.

[2016-11-30 01:04] JNeiger opened #841 "Allow for a soccer game to be played programmatically"
It would be nice to be able to specify a play (Or set of plays) to be played for both yellow and blue teams. In the end, maybe return some sort of struct or object with the score, and some other variables.

There are already [auto-ref systems](https://github.com/robotics-erlangen/autoref) setup so I think just setting up soccer to programmatically start and end games will be good enough.

This wou

[2016-11-30 01:12] rachitk commented on #831
Referenced this in #835. Made changes in `makefile` that has implications for this topic, and essentially makes all of the changes that option 2 requires.

If option 2 is rejected in favor of another option, then #835 should NOT be merged.

[2016-11-30 06:15] #826 closed

[2016-11-30 06:40] #825 closed

[2016-11-30 06:41] #829 closed

[2016-12-01 06:10] #824 closed

[2016-12-02 06:38] justbuchanan opened #843 "Path Planning: merge SinglePlanRequest and PlanRequest"
They do basically the same thing, can they be merged into one class?

* [SinglePlanRequest](https://github.com/RoboJackets/robocup-software/blob/8ecdc354d77591ae8c0cce3ed3e62883d1bbf784/soccer/planning/SingleRobotPathPlanner.hpp#L16)
* [PlanRequest](https://github.com/RoboJackets/robocup-software/blob/8ecdc354d77591ae8c0cce3ed3e62883d1bbf784/soccer/planning/MultiRobotPathPlanner.hpp#L18)

[2016-12-02 06:52] ashaw596 commented on #843
That's the same thing @Jpfeltracco said! Eh. Probably???

[2016-12-02 21:15] ashaw596 commented on #832
Closed since pretty much duplicate of #425

[2016-12-02 21:15] #832 closed

[2016-12-03 00:39] JNeiger commented on #822
#256 may be related on the defensive side. I'll see how much I improve it

[2016-12-04 19:45] jgkamat commented on #831
https://github.com/RoboJackets/robocup-common/blob/950f393193f3cc8211b41ab6d2ccaafb407789ee/Utils.cpp#L51

This is the correct way to do it, I think this is the way we'll do it going forward. This issue will now track the conversion. I'll update your pr @rachitk

[2016-12-04 19:59] jpfeltracco commented on #841
Yeah, it would be great if we could push towards being able to simulate full matches to allow us to objectively say one play is "better" than another, especially if we want new members to have a play competition next semester.

We talked a bit in the meeting today about using a more maintained version of grSim that would integrate with the autoref and let this happen. @jgkamat may know which team

[2016-12-04 21:00] #830 closed

[2016-12-11 05:52] #796 closed

[2016-12-11 06:26] jgkamat commented on #503
This eventually became this: https://robojackets.github.io/robocup-training/slides/8#/sec-title-slide

And the docs page: https://robojackets.github.io/robocup-software/t20168.html

[2016-12-11 06:26] #503 closed

[2016-12-13 05:36] jgkamat commented on #409
Once we get fedora we should be good IMO, and then I'll go ahead and close this issue. Manually setting up RC isn't too hard.

![screenshot_20161213_002157](https://cloud.githubusercontent.com/assets/4349709/21128848/1346325e-c0cc-11e6-8b0e-efb61fcb1694.png)

[2016-12-14 00:53] jpfeltracco commented on #409
Wait, so are we switching to officially support Fedora only now?

[2016-12-14 01:08] jgkamat commented on #409
not really official support, but I will be building a list of packages that /should/ work on fedora. Probably much the same scenario as what we have for arch, in the end.

[2016-12-20 05:33] #428 closed

[2016-12-21 02:50] jgkamat commented on #802
I spent a bunch of time staring at the config options for both clang and yapf and they don't seem to help too much (regarding the splitting of long lines). I tried a bunch of settings but they don't seem to do anything. For pyhton, it does help to put `()` around long lines so yapf has more options, but I can't find anything to do the same for C++.

As for inlining functions, I think that setting

[2016-12-21 03:41] jgkamat commented on #831
This issue is pretty complicated/diverse so I'm going to make the final few changes to it. Your commits will be part of #848, which will get merged once it gets tested/reviewed. Thanks for the contribution! :smile:

[2016-12-24 03:46] #557 closed

[2016-12-24 03:46] jgkamat commented on #557
Could need a bit more work but this should be at least a good starting point.

[2016-12-30 02:38] #843 closed

[2017-01-10 20:44] jgkamat commented on #409
In the interest of keeping things generic, I'm going to write a docs page on how to set up rc-software on any linux distribution, instead of just fedora. All of our dependencies are pretty common so it shouldn't be too bad.

[2017-01-11 00:30] rpaulucci3 commented on #773
Is this still open?

[2017-01-11 01:51] rk1998 commented on #360
Where can I get started with this issue? Which files should I be looking at?

[2017-01-11 03:27] JNeiger commented on #822
@kylepelton [Here](https://github.com/JNeiger/robocup-software/blob/adaptive_formation/soccer/gameplay/plays/offense/adaptive_formation.py#L270) is a good example of how to set up the coordinated pass thing to take in a custom capture function. Just pass in your capture function into the pass receive.
You can also throw it into this [test play](https://github.com/JNeiger/robocup-software/blob/adap

[2017-01-11 04:18] jgkamat commented on #773
Yes, but I this issue needs to be properly triaged. I haven't used either logging tool (other than our log _viewer_ which is here: https://github.com/RoboJackets/robocup-software/blob/master/soccer/LogViewer.cpp).

I think that the logging tools are meant to log the vision packets, not soccer (which means they don't log our soccer program, they log the state of the field caputred by the vision cam

[2017-01-11 04:24] ryanstrat commented on #773
So fundamentally, we can't get rid of it until we can actually handle reading the official log format.

I worked a lot on Logging over the summer, but most of it has not been merged to master and I did not have time to work on it last semester. Logging is currently challenging because our primary log format saves the filtered world model, rather than the raw vision inputs, which is helpful for a v

[2017-01-11 04:25] ryanstrat commented on #773
Also, at some point I was working on a log converter that could shift logs between SSL format, RJ format, and BSV format. That is partially working on one of my branches.

[2017-01-11 04:37] jgkamat commented on #360
I can still reproduce this, so this is a good issue!

I would start looking right here: https://github.com/RoboJackets/robocup-software/blob/33aafebf5ce594e604b2df3fdcda6e41c6f99f77/soccer/FieldView.cpp#L268

This section (right below it) is where we actually draw the ball trail (commenting it out should remove the trail completley): https://github.com/RoboJackets/robocup-software/blob/33aafebf5ce

[2017-01-13 02:08] #761 closed

[2017-01-13 02:08] #765 closed

[2017-01-13 02:08] #772 closed

[2017-01-13 05:59] jgkamat commented on #804
Just to help aggregate more resources:

This might be an interesting method (although you will need the stylesheet as a string):
http://doc.qt.io/qt-5/qwidget.html#styleSheet-prop

These are docs on QT Style sheets in general: http://doc.qt.io/qt-5/stylesheet.html

In addition to `styleSheets`, there are also qt `styles` (which change the appearance of buttons, but not their color, as far as I kno

[2017-01-13 06:12] jgkamat commented on #498
![2017-01-13-011123_535x78_scrot](https://cloud.githubusercontent.com/assets/4349709/21920148/386ad868-d92d-11e6-9e02-32f930f967fe.png)

This is still an issue for me, at these numbers above. The font is monospace, so I've got no clue why it's doing this. Sounds like a good beginner issue for someone interested in UI.

[2017-01-13 06:15] jgkamat commented on #618
This is /probably/ fixed right now, although slightly flakey. We'll close it once it's working properly.

[2017-01-13 06:16] jgkamat commented on #554
Aah, I duplicated this in #828. Its fixed now =)

[2017-01-13 06:16] #554 closed

[2017-01-13 06:18] jgkamat commented on #320
This is really bugging me, and I would love it to be fixed by someone new! I don't think it would be _too_hard, and it would definetly give you a nice overview of protobuf (possibly) and C++, although it would deal with our simulator code, which may eventually get deprecated.

[2017-01-13 06:21] jgkamat commented on #591
The hardest part of this issue is figuring out how to intercept the python errors properly. Once that is done, we can either:

1. Use python to print the message directly (bad)
2. Pass it up to C++, so it can be displayed in a log somewhere (nice)

Ideally, we wouldn't have a popup, so repeated errors won't cause a popup cascade. I'm willing to take feedback on that though.

[2017-01-13 16:04] chachmu commented on #591
Maybe have an generic "python error" message for the status indicator at the top so you can see it from within soccer but it doesn't get in the way.

[2017-01-15 18:21] jcarn commented on #756
I'll look into this and #755

[2017-01-15 18:21] jcarn commented on #755
I'll look into this and #756

[2017-01-15 18:51] jpfeltracco commented on #770
Ignore what I wrote previously, this was not an issue with exceeding max wheel speed, instead the problem is that we were clamping acceleration in robot coordinates, not in field coordinates. This caused massive accelerations to be caused whenever we rotated. This will be fixed in #781. Full angle planning will eventually be done through this issue.

For reference, this is the paper we're using: h

[2017-01-15 19:09] jcarn commented on #755
Is there a specific circumstance in which this happens? So far its handling everything fine, I can't get it to hang

[2017-01-15 19:31] jgkamat commented on #320
Example of using rj::time https://github.com/RoboJackets/robocup-software/blob/d18e9b7fd56f42e1888e494064e0c264a9cceae8/soccer/Timeout.hpp

Place to potentially add reset timer: https://github.com/RoboJackets/robocup-software/blob/d18e9b7fd56f42e1888e494064e0c264a9cceae8/simulator/physics/Environment.cpp#L351

this is the main method: https://github.com/RoboJackets/robocup-software/blob/d18e9b7fd5

[2017-01-15 19:39] chachmu opened #858 "The simulator bar should be disabled when running with real robots"
The simulator menu contains several buttons that really only make sense when running make run-sim. The whole bar should be disabled when running soccer for real. The name of the bar can be found [here](https://github.com/RoboJackets/robocup-software/blob/d18e9b7fd56f42e1888e494064e0c264a9cceae8/soccer/ui/MainWindow.ui#L1946). QT items can be disabled with .setEnabled(false), like [this](https://gi

[2017-01-15 21:09] kevinatorchen commented on #320
How to exit out of the simulator correctly?

[2017-01-15 23:13] jgkamat commented on #756
@jcarn this issue *might* be fixed already (or will be fixed by #755). Someone needs to double check that though.

[2017-01-15 23:15] jgkamat commented on #781
@jpfeltracco does #856 fix this? I thought it did, but I wanted to be sure.

[2017-01-15 23:18] jgkamat commented on #858
I'm not sure what part of the UI you're talking about, could you have a screenshot to the simulator bar?

[2017-01-15 23:21] jgkamat commented on #320
This stackoverflow post has a little bit of info on it :http://stackoverflow.com/questions/8026101/correct-way-to-quit-a-qt-program

From what I can tell, there should be a `quit()` method that should do what we want.

In the main method, there is a 'QApplication' object, which you could call `exit()` on as well.

I'm not sure if these work though, so test them out and let me know what happens!

[2017-01-15 23:33] #827 closed

[2017-01-15 23:34] chachmu opened #859 "Quickload/Quicksave shortcuts don't work on ubuntu"
This may just be an issue on my vm but it would be nice if someone else would check. I have seen Albert use the shortcuts (Q and E) on his mac so I don't think its a problem there.

[2017-01-15 23:35] jgkamat commented on #859
Huh, thats weird, they definetly work for me as well.

Definetly a good begginer issue, might need a bunch of debugging though.

[2017-01-15 23:36] chachmu commented on #859
If its just me it's not that big of a deal, I just didn't have a way to tell if it was for everyone on not. I'm fine with closing this if you want to.

[2017-01-15 23:38] jgkamat commented on #859
Yah, if you're running the ubuntu VM we definetly want to fix this. If it's affecting you its probably affecting everyone else as well (and we should probably figure out the root cause anyway).

[2017-01-15 23:39] chachmu commented on #859
I'm not sure exactly what might cause this but we should definitely see if it happens on the premade image. I am not using that so it might be an issue with how I installed qt or soccer itself

[2017-01-15 23:42] jgkamat commented on #804
Also, a nice to have would be a file that soccer would read that would set the default stylesheet.

Maybe `~/.soccerrc`? I can probably implement this after this is completed, but once this is done, I would love to have the stylesheet set every time I launch soccer without changing it manually.

[2017-01-15 23:45] jgkamat commented on #804
Actually on second thought, a config file (like `~/.soccerrc`) would be easier to implement (no messing around with UI's) and more practical (no one wants to set the styleshset every time), so if you wanted, you could implemente stylesheet to be set exclusively with a file like that.

Such a system needs to be thought out properly, so the same file could be used for other user specific changes. We

[2017-01-15 23:46] #754 closed

[2017-01-15 23:46] #764 closed

[2017-01-15 23:46] #831 closed

[2017-01-16 02:47] Jason27chan commented on #804
Please help. a Style Sheet Manager, but it gives me an undefined function
Here's my line of code
`StyleSheetManager manager(this);`
Here's the error
`../run/robocup.so: undefined reference to `StyleSheetManager::StyleSheetManager(MainWindow*)'`

[2017-01-16 02:56] chachmu commented on #804
Does StyleSheetManager exist and/or have you included it in the file?

[2017-01-16 03:06] Jason27chan commented on #804
Yeah, here's the line where I included it
`#include <ui/StyleSheetManager.hpp>`

[2017-01-16 03:51] jpfeltracco commented on #781
Yep, I'll go ahead and close this, I thought I mentioned in the PR that it closes this but I guess not.

[2017-01-16 03:51] #781 closed

[2017-01-16 04:20] jgkamat commented on #804
Hmm, I can't tell for sure without seeing the code, but maybe you haven't defined a constructor to StyleSheetManager that takes in a MainWindow. Usually when you get linker errors (like this one) it means you have the prototype (the hpp file) but you don't have the implementation in the cpp file.

If you've defined a new cpp file (I think you have), you will also need to add it to this file: https

[2017-01-16 19:31] jgkamat opened #860 "justKicked() does not work in real life"
Works fine in the simulator so it might be a firmware problem? I'm debugging this now.

This prevents coordinated_pass from working since it depends on that method to start the receiver.

[2017-01-16 20:43] jpfeltracco opened #861 "Fix RRT Planning Weirdness"
I talked to @joshhting about this a bit. The path planner seems to be choosing some insane paths from time to time when running the repeated turning lineup play. It doesn't happen consistently, just every once in a while. See the images below for examples.

![crazy_path](https://cloud.githubusercontent.com/assets/8744813/21998276/d906f67c-dc01-11e6-9ac0-e1f23d737d35.png)

![crazy_path2](https://cl

[2017-01-16 21:57] jgkamat commented on #860
This is a firmware bug, see RoboJackets/robocup-firmware#30

[2017-01-16 21:57] #860 closed

[2017-01-16 22:04] jgkamat commented on #861
Woah, I've never seen this before. Have you seen this only on your computer?

This might be happening because:

1. We can't go through the goal zone
2. The 2nd lowest robot might be too low to allow the lowest one pass
3. the ball makes the path go even farther up.

So there might not be an explicit bug, but I'm not sure. There should be an option to turn on RRT debug visualization which would hel

[2017-01-16 22:38] jgkamat opened #863 "Goalie Leaves the Goalie Zone when clearing a ball"
The normal robot rules (which are to stay out of the goalie zone) are being applied when the goalie enters the clearing state (once the ball enters the goalie zone). This is pretty bad, since the goalie runs away from the ball, leaving the goal open.

This might be a good beginner issue, but I'm not sure. Its very important though.

[2017-01-16 22:39] jgkamat commented on #863
This is reproducable in the simulator, so you don't need actual robots to tackle this issue.

[2017-01-16 22:42] jgkamat opened #864 "Goalie should 'hug' the goal when the ball is sufficently to the right/left of the goal"
Right now, when the ball is in a corner on our side of the goal, the goalie brushes up against the goal wall, but leaves a small gap. This is most likely obstacle avoidance (as we don't want to hit the goal wall during normal play), but we should override this in specific cases.

This is reproducable in the simulator

[2017-01-16 23:14] jgkamat opened #865 "Right Click kick at speed seems to be broken"
This seems to be a recent thing, it was working at comp last year. Probably needs a bisect.

Not sure if this isn't a duplicate, let me know if it is.

When the right click kick ball occurs, the ball is first moved to a weird location, then kicked. This is most likely an issue with the simulator. The location where the ball moves to seems to depend on the initial placemnet of the ball and/or the s

[2017-01-16 23:27] joshhting commented on #861
I believe the rrt implementation that we use in robocup-software currently has no waypoint or goal bias. If we increase the goal bias, this likely wouldn't be a problem anymore.

It's also weird that in the first image, the extremely absurd path somewhat intersects other robots. Do we not consider our own robots to be obstacles? Or if we do, maybe the obstacle boundaries are too small?

[2017-01-16 23:43] jgkamat commented on #861
We do, but there's a time factor as well. We can have paths crossing each other, if the robots will be in the same place at different times.

[2017-01-16 23:52] jgkamat opened #866 "When stopped, halting and re-stopping play causes robots to shift positions"
This seems kind of weird, and might be a red flag of some bigger problems in our role assignments.

When we stop play, halt, and restart play, no robots should move, because everything is in their correct places. However, robots often switch places for no apparent reason. This may be due to the ball obstacle for some reason, but this needs to be triaged to figure out the underlying cause.

[2017-01-17 00:25] ashaw596 commented on #861
This looks similar to the problems I was seeing when we were merging the new RRT (abeit more extreme).
https://www.dropbox.com/s/nhtkrdz7j1z1wha/Screenshot%202016-11-05%2003.31.01.png?dl=0

We weren't having much luck debugging it before, but we should be able to figure it out by looking at the RRT searches. These paths really shouldn't be possible with optimization. If its a bug with collisions w

[2017-01-17 00:26] ashaw596 commented on #861
Also, the original RRT Pathplanner always tried a direct path first. This might not the the case anymore.

[2017-01-17 23:43] ashaw596 commented on #866
Um, this might be an issue with our role requirements stuff too. This might be rather difficult.

[2017-01-18 00:12] joshhting opened #868 "Sizeof value should be cast to long unsigned int"
In USBRadio.cpp line 237, the sizeof parameter should be cast to an int because fprintf requests an int

[2017-01-18 00:21] petschekr commented on #865
Found the commit that introduced this: 6b4d87bf1ce8b473065df4a120b023b26fbf0ecd

[2017-01-18 01:06] jpfeltracco commented on #861
Here's a picture of the planning. The issue is only with the initial paths they plan, and are definitely related to the goal being an obstacle. I bumped the y position of the play slightly and didn't really see any more issues.

![rrt_planner_debug](https://cloud.githubusercontent.com/assets/8744813/22046702/6f9c3a72-dcf0-11e6-9776-3a74569a181d.png)

[2017-01-18 01:18] petschekr commented on #859
Confirming this bug on a native Ubuntu 16.04 LTS installation. Saving / loading from the `Simulator` menu works fine but the keyboard shortcuts do not.

[2017-01-18 01:43] krispreza opened #871 "Goalie should intercept ball when it is shot at goal"
Right now the goalie moves according to the position of the ball on the field, but when the ball is shot at the goal we want the goalie to move to cut off the angle of the shot.

[2017-01-18 01:48] joshhting commented on #861
Shouldn't it still smooth the paths out into a straight line afterwards when it constructs the Bezier curve?

[2017-01-18 02:01] petschekr commented on #859
Seems to be caused by [this bug in appmenu-qt5](https://bugs.launchpad.net/appmenu-qt5/+bug/1380702) which affects Ubuntu. Changing `./run/soccer -sim -pbk example.pbk` in the makefile to `env UBUNTU_MENUPROXY= ./run/soccer -sim -pbk example.pbk` fixes this issue but alters the way that the top toolbar is drawn. However, this workaround also prevents the integration of the toolbar items into Ubunt

[2017-01-18 02:02] krispreza commented on #871
There is code in goalie.py that will move the goalie preemptively in order to block a shot however this code only runs when an opponent robot has the ball and is preparing to take the shot. This might solve the issue of the goalie not intercepting the ball in time. However I am not sure how to test this in soccer.

[2017-01-18 03:48] Jason27chan commented on #804
How would you set a global environment variable in bashrc? I just tried doing var=DARK, and I still need to export the variable for it to be used

[2017-01-18 03:55] jgkamat commented on #804
Talked about this in the meeting, but for everyone else:

[code]
is what you need for env vars to be seen by child programs.

[2017-01-18 04:15] jgkamat commented on #871
We might want to change this behavior to do this transition on any shot, even if we just kick it without the opponent robots. I'm not sure if this would be a performance problem though.